{extend name="common/world"}
{block name="title"}联系我们{/block}
{block name="style"}{/block}
{block name="container"}
<div class="card">
    <div class="card-body p-3">
        <div class="card-title f1 mb-3">输入您想说的话</div>
        <textarea name="content" class="form-control" cols="30" rows="5"></textarea>
        <div class="text-right mt-2">
            <button class="btn btn-primary btn-send">发送信息</button>
        </div>
    </div>
</div>
<div class="card">
    <ul class="list-group card-list-group messages">
        {volist name="messages" id="msg"}
        <li class="list-group-item px-3">
            <div class="media">
                <div class="media-object avatar avatar-md mr-3" style="background-image: url({:avatar($Think.session.user.profile.avatar, $Think.session.user.profile.idcard)});"></div>
                <div class="media-body">
                    <div class="media-heading">
                        <small class="float-right text-muted">{$msg.create_at}</small>
                        <h5>{$Think.session.user.profile.nickname}</h5>
                    </div>
                    <div>{$msg.content}</div>
                    {notempty name="msg.reply"}
                    <ul class="media-list">
                        <li class="media mt-4">
                            <div class="media-object avatar mr-3" style="background-image: url(/static/image/icon.png);"></div>
                            <div class="media-body">
                                <strong>系统回复：</strong>
                                {$msg.reply}
                            </div>
                        </li>
                    </ul>
                    {/notempty}
                </div>
            </div>
        </li>
        {/volist}
    </ul>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
// 用户头像
var avatar = '{:avatar($Think.session.user.profile.avatar, $Think.session.user.profile.idcard)}', nickname = '{$Think.session.user.profile.nickname}';
// 当前时间
window.now = function(){
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    month = month < 10 ? '0' + month : month;
    var day = date.getDate();
    day = day < 10 ? '0' + day : day;
    var hour = date.getHours();
    hour = hour < 10 ? '0' + hour : hour;
    var min = date.getMinutes();
    min = min < 10 ? '0' + min : min;
    var sec = date.getSeconds();
    sec = sec < 10 ? '0' + sec : sec;
    return year + '-' + month + '-' + day + ' ' + hour + ':' + min + ':' + sec;
}
require(['jquery'], function($){
    $(function(){
        // 发送信息
        $('.btn-send').on('click', function(){
            var content = $('textarea[name=content]').val();
            if (content == '') {
                $('textarea[name=content]').focus();
                return false;
            }
            var html = '';
            html += '<li class="list-group-item px-3">';
                html += '<div class="media">';
                    html += '<div class="media-object avatar avatar-md mr-3" style="background-image: url(' + avatar + ');"></div>';
                    html += '<div class="media-body">';
                        html += '<div class="media-heading">';
                            html += '<small class="float-right text-muted">' + now() + '</small>';
                            html += '<h5>' + nickname + '</h5>';
                        html += '</div>';
                        html += '<div>' + content + '</div>';
                    html += '</div>';
                html += '</div>';
            html += '</li>';
            $(html).prependTo('.messages').hide().slideDown(300);
            $('textarea[name=content]').val('');
            // 提交信息
            ajax(api.contact, {content: content}, function(res){
                if (res.code == 200) {

                } else {
                    toast(res.message);
                }
            });
        });
    });
});
</script>
{/block}