{include file="public/header" /}

<div class="outter-wp">
    <!--sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a>系统</a></li>
            <li class="active">日志列表</li>
        </ol>
    </div>
    <!--//sub-heard-part-->
    <div class="graph-visual tables-main">


        <div class="graph">
            <div class="tables">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>操作人</th>
                        <th>事件</th>
                        <th>操作时间</th>


                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>
                        <th scope="row">{$vo.id}</th>
                        <td>{$vo.username}</td>
                        <td>{$vo.sysaction}</td>
                        <td>{$vo.addtime}</td>

                    </tr>
                    {/volist}
                    </tbody>
                </table>



            </div>

        </div>

        <!--分页位置-->
        {$list->render()}
        <!--//graph-visual-->
    </div>


    {include file="public/footer" /}