<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>苏宁易购</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/css/slick.min.css" />
    <link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/css/style.css" />
    <link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/css/hsy.css" />
    <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/js/jquery.min.js"></script>
    <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/js/slick.min.js"></script>
    <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/js/lib.js"></script>
	<style>
		.indexHeader {
			padding: .14rem .1rem;
			
		    background-color: #ffa602;
		}
		.indexHeader .inp input{
			padding-left: .3rem;
		}
		.indexHeader .inp i{
			right: .36rem;
			    left: auto;
		}
		.indexHeader .fav{
			    margin-right: 5px;
		}
		.titleMod {
		    background-color: #ffa602;
			    padding: .0rem .3rem 0;
		}
		.mallList li .txt .btn-buy{
			    background: #ffa602 url({$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/r-b.png) no-repeat right .15rem center/.2rem auto;
		}
		.van-cell{
			    line-height: inherit;
				    padding: 0;
					background-color:transparent
		}
	</style>
</head>
<body >

    <div class="bodyW">
        <!--首页头部-->
        <div class="indexHeader fix">
            <div class="fav">
                <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/snlogo.png" style="height: 0.6rem;">
            </div>
            <!-- <div class="msg">
                <i></i>
                <span>消息</span>
            </div> -->
            <div class="inp">
                <i id="searchan"></i>
                <input type="text" id="searchkey" placeholder="粘贴宝贝标题">
            </div>
        </div>
        <!--栏目选择-->
        <div class="titleMod">
            <!--    栏目-->
            <div class="titleList" style="margin-bottom: -0.3rem;">
				<div class="item on"><a href='{php echo $this->createMobileUrl("snindex")}'>首页</a></div>
                <!-- <div class="item "><a href='{php echo $this->createMobileUrl("snlist",array("gettype"=>0,"pdtype"=>0))}'>超高佣</a></div> -->
                <!-- <div class="item"><a href="">猜你喜欢</a></div> -->
                <div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"161007"))}'>女装</a></div>
                <div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"161004"))}'>男装</a></div>
                <div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"233003"))}'>内衣</a></div>
                <div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"315053"))}'>童装</a></div>
                <div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"20061"))}'>家居</a></div>
                <div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"20089"))}'>手机数码</a></div>
                <div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"20358"))}'>生活电器</a></div>
                <div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"157122"))}'>电脑办公</a></div>
				<div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"500354"))}'>进口食品</a></div>
				<div class="item"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"329503"))}'>护肤面膜</a></div>
            </div>
            <!--    banner-->
            <div class="indexBanner">
                <div class="slick-ban">
					{loop $lbad $v}
                    <div class="item">
                        <a href=""><img src="{php echo tomedia($v['pic'])}" alt=""></a>
                    </div>
					{/loop}
                </div>
            </div>
        </div>
    
        <!--分类-->
        <div class="sort">
            <div class="slick-sort">
                <div class="item">
                    <div class="con">
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"20089"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/01.png" alt=""></div>
                                <span>手机数码</span>
                            </a>
                        </div>
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"20358"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/02.png" alt=""></div>
                                <span>生活电器</span>
                            </a>
                        </div>
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"157122"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/03.png" alt=""></div>
                                <span>电脑办公</span>
                            </a>
                        </div>
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"500354"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/04.png" alt=""></div>
                                <span>进口食品</span>
                            </a>
                        </div>
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"329503"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/05.png" alt=""></div>
                                <span>护肤面膜</span>
                            </a>
                        </div>
                    </div>
                    <div class="con">
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"161007"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/06.png" alt=""></div>
                                <span>女装精选</span>
                            </a>
                        </div>
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"161004"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/07.png" alt=""></div>
                                <span>男装精选</span>
                            </a>
                        </div>
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"233003"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/08.png" alt=""></div>
                                <span>内衣精选</span>
                            </a>
                        </div>
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"315053"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/09.png" alt=""></div>
                                <span>童装童鞋</span>
                            </a>
                        </div>
                        <div class="sub-item">
                            <a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"20061"))}'>
                                <div class="icon"><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/10.png" alt=""></div>
                                <span>家居日用</span>
                            </a>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>


        <!--广告-->
       <!-- <div class="adMod">
            <a href=""><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/ad1.jpg" alt=""></a>
        </div> -->
     
        <!--mod2-->
        <div class="mod2">
            <div class="row row4">
                <div class="pic"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"241504"))}'><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/t1.png" alt=""></a></div>
                <div class="pic"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"20089"))}'><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/t2.png" alt=""></a></div>
                <div class="pic"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"500373"))}'><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/t3.png" alt=""></a></div>
                <div class="pic"><a href='{php echo $this->createMobileUrl("snlist",array("zhcode"=>"501219"))}'><img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/sn/fl/t4.png" alt=""></a></div>
            </div>
           
        </div>
        <!--超级爆款-->
        <div class="superListMod">
            <div class="title">
                <!-- <a href="" class="r">更多爆款</a> -->
                <div class="ovh">
                    <i style="background-image: url({$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/ic_super_hot.png);"></i>
                    <h3>小编推荐</h3>
                    <div class="num"><span>{php echo rand(55555,99999)}</span><em>人正在购买</em></div>
                </div>
            </div>           
        </div>
        <!--6个电商平台-->
        <div class="sixMall" id="table"   style="padding-bottom: 0.8rem;">
           
            <div class="tab-mallList">
                <ul class="mallList" id="goods_box">
						
                </ul>
            </div>
		
        </div>


        <!--返回顶部-->
        <div class="toTop">
            <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_list_to_top.png" alt="">
        </div>

        <div class="footer">
			{loop $dblist $v}
            <div class="item on">
				<a href="{$v['wlurl']}&pid={$pid}&dluid={$dluid}">
                <!-- <div class="icon"><a href="{$v['wlurl']}&pid={$pid}&dluid={$dluid}"><img src="{php echo tomedia($v['picurl'])}" alt=""></a></div> -->
                <div class="icon-on"><img src="{php echo tomedia($v['picurl'])}" alt=""></div>
                <span style="color: #000;">{$v['title']}</span>
				</a>
            </div>
			{/loop}
        </div>
    </div>
	<!-- 加载数据、 -->
	<link href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/layui/css/layui.css" rel="stylesheet">
	<script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/layui/layui.js" charset="utf-8"></script>
	
	
	<script type="text/javascript">
	    var  limit=1;
		var uid="{$share['id']}";
		
		
		$("#searchan").click(function(){
		  var key=$("#searchkey").val();
		   window.location.href = "{php echo $this->createMobileUrl('snlist')}&key="+key;
		});
	  
		
	   $(document).delegate("a", "click", function (e) {
	
	        var url = $(this).attr("href");
	        if($("#goods_box li").length == 0) return;
	
	        window.localStorage.setItem("top", document.body.scrollTop);
	        window.localStorage.setItem("html", $("#goods_box").html());
	        window.localStorage.setItem("url", window.location.href);
				 
			
	    });
		if(window.localStorage.getItem("url") == window.location.href && window.localStorage.getItem("top") != "null") {
			
	      $("#goods_box").html(window.localStorage.getItem("html"));
	        document.body.scrollTop = window.localStorage.getItem("top");
	        window.localStorage.setItem("top", "null");
	        window.localStorage.setItem("html", "null");
	        window.localStorage.setItem("url", "null");		
			 	//alert(limit);
			var le=$("#goods_box li").length;
			limit=1+Math.ceil(le/20);
			
			 window.localStorage.setItem("limit", limit);
			 
			  window.localStorage.getItem("limit")
				//alert(limit);
			//alert( $("#list_box li").length);
	    }	
			;!function(){
					layui.use('flow', function(){
						var $ = layui.jquery;
						var flow = layui.flow;
							            
			            flow.load({
			                elem: '#table'
	                        ,end: '本场次商品已经加载完毕啦 ￣O￣)ノ！'
			                ,done: function(page, next){
			                    var lis =[];
			                    page=limit;
								limit++;
	                            var content='';
			                    $.get("{php echo $this->createMobileUrl('xbtj')}&page="+page+"&uid="+uid, function(res){
			                    	res=JSON.parse(res);
			                    	//alert(res);
			                    	console.log(res);
			                        layui.each(res.data, function(index, item){
										
										content +='<li >';
											content +='<div class="listPic">';
														content +='<a href="{php echo $this->createMobileUrl("snview")}&itemid='+item.itemid+'&supplierCode='+item.supplierCode+'">';
															content +='<img src="'+item.itempic+'" alt="">';
														content +='</a>';
													content +='</div>';
													content +='<div class="txt">';
														content +='<div class="listTit">';
															content +='<a href="{php echo $this->createMobileUrl("snview")}&itemid='+item.itemid+'&supplierCode='+item.supplierCode+'">';
																content +='<i class="mallIcon sn"></i>';
																content +='<span>'+item.itemtitle+'</span>';
															content +='</a>';
														content +='</div>';
														if(item.sellernick){
															content +='<div class="listDesc"><i class="shopIcon" style="background-image: url({$_W["siteroot"]}addons/tiger_newhu/template/mobile/public/images/shopicon.png);"></i>'+item.sellernick;
															content +='</div>';
														}
														
														content +='<div class="listInfo">';
														if(item.couponmoney){
															content +='<div class="quan">券'+item.couponmoney+'元</div>';
														}
															content +='<div class="fuli">奖￥'+item.rate+'</div>';
														content +='</div>';
														content +='<div class="listPrice">';
															content +='<div class="price">';
																content +='<div class="old">￥'+item.itemprice+'</div>';
																content +='<div class="new" style="font-size: 0.4rem;"><em>￥</em>'+item.itemendprice+'</div>';
															content +='</div>';
															content +='<a href="{php echo $this->createMobileUrl("snview")}&itemid='+item.itemid+'&supplierCode='+item.supplierCode+'" class="btn-buy">马上抢</a>';
														content +='</div>';
													content +='</div>';											
										content +='</li>';
			                        	
			                        });
	                                 $("#goods_box").append(content);
	
	                                //console.log(content);
			                        next(lis.join(''), page < res.pages);
			                    });
			                }
			            });
			        });
			    }();
			</script>
	<!-- 结束 -->
	    
    <script>		
        $(function() {
            hr.regPage('index', {
                init: function() {
                    this.banner();
                    this.sortSlick();
                    this.newsSlick();
                    this.mod1Slick();
                    this.mallTab();
                    this.toTop();
                    this.smTab()
                },
                banner: function() {
                    $('.slick-ban').slick({
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        dots: true,
                        autoplay: true,
                        autoplaySpeed: 2000
                    });
                },
                sortSlick: function() {
                    $('.slick-sort').slick({
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        dots: true
                    });
                    $('.slick-sort').on('afterChange', function() {
                        if ($('.slick-current .con').length === 1) {
                            $('.slick-track').css('height', $('.slick-current .con').height() + 10 + 'px')
                        } else {
                            $('.slick-track').css('height', 'auto')
                        }
                    })

                },
                newsSlick: function() {

                    $('.slick-news').slick({
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        dots: false,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        vertical: true
                    });

                },
                mod1Slick: function() {
                    $('.slick-mod1').slick({
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        dots: true,
                        autoplay: true,
                        autoplaySpeed: 2000
                    });

                },
                mallTab: function() {
                    $('body').on('click', '.TAB_CLICK .item', function() {
                        var tab = $(this).parent(".TAB_CLICK");
                        var con = tab.attr("id");
                        var on = tab.find(".item").index(this);
                        $(this).addClass('on').siblings(tab.find(".item")).removeClass('on');
                        $(con).eq(on).show().siblings(con).hide();
                    })
                },
                toTop: function() {
                    $('body').on('click', '.toTop', function() {
                        $("html,body").animate({
                            scrollTop: 0
                        }, 500);
                    })
                },
                smTab: function() {
                    $(window).scroll(function() {
                        var sTop = $(window).scrollTop(),
                            offsetTop = $('.sixMall').offset().top
                        if (sTop > offsetTop) {
                            $('.sm-tab').addClass('fixTop')
                            $('.sixMall').addClass('pt')
                        } else {
                            $('.sm-tab').removeClass('fixTop')
                            $('.sixMall').removeClass('pt')
                        }
                    })
                }
            });
        });
    </script>
	<script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style9/js/jweixin-1.0.0.js"></script>
	<script>
		var fxtitle="{$cfg['fxtitle']}";
		var desc="{$cfg['fxcontent']}";
		var imgUrl="{php echo tomedia($cfg['fxpicurl'])}";
		var fxlink=window.location.href;
		var fxdata={"title":fxtitle,"imgUrl":imgUrl,"desc":desc,"link":fxlink};
	        var appid = "{$_W['account']['jssdkconfig']['appId']}";
	        var timestamp = "{$_W['account']['jssdkconfig']['timestamp']}";
	        var nonceStr = "{$_W['account']['jssdkconfig']['nonceStr']}";
	        var signature = "{$_W['account']['jssdkconfig']['signature']}";
	        wx.config({
	            debug: false,
	            appId: appid,
	            timestamp: timestamp,
	            nonceStr: nonceStr,
	            signature: signature,
	            jsApiList: [
	                "onMenuShareAppMessage",
	                "onMenuShareTimeline",
	                "chooseImage",
	                "uploadImage",
	                "downloadImage"
	            ]
	        });
	
		wx.ready(function(){
			wx.onMenuShareAppMessage({
				title: fxdata['title'],
				desc: fxdata['desc'],
				link: fxdata['fxlink'],
				imgUrl: fxdata['imgUrl']
			}); 
			wx.onMenuShareTimeline({
				title: fxdata['title'],
				desc: fxdata['desc'],
				link: fxdata['fxlink'],
				imgUrl: fxdata['imgUrl']
			});
		});
		
	
	  	
	  	
	
	    </script>
</body>

</html>