<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>苏宁易购</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/css/slick.min.css" />
    <link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/css/style.css" />
    <link rel="stylesheet" href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/css/hsy.css" />
    <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/js/jquery.min.js"></script>
    <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/js/slick.min.js"></script>
    <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/js/clipboard.min.js"></script>
    <script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/js/lib.js"></script>
		<script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/js/vue.min.js"></script>
	<style>
		.listPage {
		    padding-top: 2.0rem;
		}
		.list1 {
		    padding: .0rem .3rem;
		}
		.van-cell{
			    line-height: inherit;
				    padding: 0;
					background-color:transparent
		}
		.mallList li .txt .btn-buy{
			    background: #E21286 url({$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/r-b.png) no-repeat right .15rem center/.2rem auto;
		}
	</style>
</head>

<body>
    <div class="bodyW">
        <div class="listTop">
            <form action="{php echo $this->createMobileUrl('snlist')}" class="soMod">
            	<input type="hidden" name="i" value="{$_W['uniacid']}">
            	<input type="hidden" name="c" value="entry">
            	<input type="hidden" name="do" value="snlist">
            	<input type="hidden" name="m" value="tiger_newhu">								
                <div class="back"  onclick="history.go(-1);"></div>
                <input type="submit" class="so" value="搜索">
                <div class="inp">
                    <div class="icon"></div>
                    <input type="text" id="key" value="{$key}" name="key" placeholder="请输入搜索内容" class="inpCon">
                    <input type="reset" class="reset">
                </div>
            </form>
<!--            <div class="tabMod">
                <div class="titleList">
                    <div class="item on"><a href="javascript:;">淘宝</a></div>
                    <div class="item"><a href="javascript:;">拼多多</a></div>
                    <div class="item"><a href="javascript:;">京东</a></div>
                    <div class="item"><a href="javascript:;">唯品会</a></div>
                    <div class="item"><a href="javascript:;">苏宁易购</a></div>
                    <div class="item"><a href="javascript:;">天猫</a></div>
                </div>
            </div> -->
            <div class="sortMod">
                <div class="item item0 on">
                    <span>综合</span>
                </div>
				<div class="item item1">
				    <span>价格</span>
				    <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_on_default.png" alt="" class="def">
				    <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_on_selected.png" alt="" class="up">
				    <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_off_selected.png" alt="" class="down">
				</div>
                <div class="item item2">
                    <span>销量</span>
<!--                    <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_on_default.png" alt="" class="def">
                    <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_on_selected.png" alt="" class="up">
                    <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_off_selected.png" alt="" class="down"> -->
                </div>
                <div class="item item3">
                    <span>苏宁自营</span>
                    <!-- <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_on_default.png" alt="" class="def">
                    <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_on_selected.png" alt="" class="up">
                    <img src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/public/images/icon_sc_off_selected.png" alt="" class="down"> -->
                </div>
                
            </div>
          
        </div>
        <div class="listPage singer" id="table">
      
            <ul class="mallList" id="goods_box">
				
            </ul>
        </div>
		<!-- 加载数据、 -->
		<link href="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/layui/css/layui.css" rel="stylesheet">
		<script src="{$_W['siteroot']}addons/tiger_newhu/template/mobile/tbgoods/style99/js/layui/layui.js" charset="utf-8"></script>
		
		
		<script type="text/javascript">
			var vm=new Vue({
				el: '#app',
				data:{
					'pxname':'',//1-价格   2-销量
					'zhcode':'',//分类
					'sn':'',////1 苏宁自营
					'page':0,
					'uid':'0',
				}
			});
			vm.gettype="{$gettype}";
			vm.zhcode="{$zhcode}";
			vm.uid="{$share['id']}";
		    // var  limit=1;
		   $(document).delegate("a", "click", function (e) {
		
		        var url = $(this).attr("href");
		        if($("#goods_box li").length == 0) return;
		
		        window.localStorage.setItem("top", document.body.scrollTop);
		        window.localStorage.setItem("html", $("#goods_box").html());
		        window.localStorage.setItem("url", window.location.href);
					 
				
		    });
			if(window.localStorage.getItem("url") == window.location.href && window.localStorage.getItem("top") != "null") {
				
		      $("#goods_box").html(window.localStorage.getItem("html"));
		        document.body.scrollTop = window.localStorage.getItem("top");
		        window.localStorage.setItem("top", "null");
		        window.localStorage.setItem("html", "null");
		        window.localStorage.setItem("url", "null");		
				 	//alert(limit);
				var le=$("#goods_box li").length;
				vm.page=1+Math.ceil(le/20);
				
				 window.localStorage.setItem("limit", vm.page);
				 
				  window.localStorage.getItem("limit")
					//alert(limit);
				//alert( $("#list_box li").length);
		    }	
			
			getlist();
			function getlist(){
				;!function(){
						layui.use('flow', function(){
							var $ = layui.jquery;
							var flow = layui.flow;
								            
				            flow.load({
				                elem: '#table'
				                ,end: '本场次商品已经加载完毕啦 ￣O￣)ノ！'
				                ,done: function(page, next){
				                    var lis =[];
				                    // vm.page=limit;
									vm.page++;
				                    var content='';
									// console.log(vm.pxname,vm.pxid,vm.page);
									 console.log("{php echo $this->createMobileUrl('snlistpost')}&uid="+vm.uid+"&sn="+vm.sn+"&page="+vm.page+"&pxname="+vm.pxname+"&zhcode="+vm.zhcode+"&key={$key}");
				                    $.get("{php echo $this->createMobileUrl('snlistpost')}&uid="+vm.uid+"&sn="+vm.sn+"&page="+vm.page+"&pxname="+vm.pxname+"&zhcode="+vm.zhcode+"&key={$key}", function(res){
				                    	res=JSON.parse(res);
				                    	//alert(res);
				                    	console.log(res);
				                        layui.each(res.data, function(index, item){
											
											content +='<li >';
												content +='<div class="listPic">';
															content +='<a href="{php echo $this->createMobileUrl("snview")}&itemid='+item.itemid+'&supplierCode='+item.supplierCode+'">';
																content +='<img src="'+item.itempic+'" alt="">';
															content +='</a>';
														content +='</div>';
														content +='<div class="txt">';
															content +='<div class="listTit">';
																content +='<a href="{php echo $this->createMobileUrl("snview")}&itemid='+item.itemid+'&supplierCode='+item.supplierCode+'">';
																	content +='<i class="mallIcon sn"></i>';
																	content +='<span>'+item.itemtitle+'</span>';
																content +='</a>';
															content +='</div>';
			
															content +='<div class="listDesc"><i class="shopIcon" style="background-image: url({$_W["siteroot"]}addons/tiger_newhu/template/mobile/public/images/shopicon.png);"></i>'+item.sellernick+'</div>';
														
															content +='<div class="listInfo">';
															if(item.couponmoney){
																content +='<div class="quan">券'+item.couponmoney+'元</div>';
															}
																content +='<div class="fuli">奖￥'+item.rate+'</div>';
															content +='</div>';
															content +='<div class="listPrice">';
																content +='<div class="price">';
																	content +='<div class="old">￥'+item.itemprice+'</div>';
																	content +='<div class="new"><em>￥</em>'+item.itemendprice+'</div>';
																content +='</div>';
																content +='<a href="{php echo $this->createMobileUrl("snview")}&itemid='+item.itemid+'&supplierCode='+item.supplierCode+'" class="btn-buy">马上抢</a>';
															content +='</div>';
														content +='</div>';											
											content +='</li>';
				                        	
				                        });
				                         $("#goods_box").append(content);
						
				                        //console.log(content);
				                        next(lis.join(''), vm.page < res.pages);
				                    });
				                }
				            });
				        });
				    }();
			}
			    
			    
				</script>
		<!-- 结束 -->
        <script>
	
            $(function() {
                hr.regPage('listPage', {
                    init: function() {
                        this.sort();
                        this.radio();
                        this.reset();
                        this.tab()
                    },
                    sort: function() {
                        $('body').on('click', '.sortMod .item', function() {							
                            $(this).addClass('on').siblings().removeClass('on down');
                            $(this).toggleClass('down')
							$("#goods_box").html("");

							vm.page=0;			
							if($(this).attr('class')=='item item1 on down'){
								vm.pxname=1;
								vm.sn='';
							}
							if($(this).attr('class')=='item item1 on'){
								vm.pxname=2;
								vm.sn='';
							}
							if($(this).attr('class')=='item item2 on down'){
								vm.pxname=3;
								vm.sn='';
							}
							if($(this).attr('class')=='item item2 on'){
								vm.pxname=3;
								vm.pxid='1';
								vm.sn=0;
							}
							if($(this).attr('class')=='item item3 on down'){
								vm.sn=1;
								vm.pxname=0;
							}
							if($(this).attr('class')=='item item3 on'){
								vm.pxname=0;
								vm.sn=1;
							}
							
							if($(this).attr('class')=='item item3'){
								vm.sn=1;
								vm.pxname=0;
							}
							
							
							
							
							if($(this).attr('class')=='item item0 on'){
								vm.pxname='';
								vm.sn='';
							}
							getlist();	
							
							console.log($(this).attr('class'));
                        });
                        $('body').on('click', '.sortMod .type', function() {
                            $(this).toggleClass('v');
                            $('.listPage').toggleClass('singer')
                        })
                    },
                    radio: function() {
                        $('body').on('click', '.radio', function() {
                            $(this).toggleClass('on')
                        })
                    },
                    reset: function() {
                        var $reset = $('.listTop .soMod .inp .reset')
                        $('body').on('input', '.listTop .soMod .inp .inpCon', function() {
                            if ($(this).val().length > 0) {
                                $reset.show()
                            } else {
                                $reset.hide()
                            }
                        }).on('blur', '.listTop .soMod .inp .inpCon', function() {
                            if ($(this).val().length > 0) {
                                $reset.show()
                            } else {
                                $reset.hide()
                            }
                        }).on('click', '.listTop .soMod .inp .reset', function() {
                            $(this).hide()
                        })

                    },
                    tab: function() {
                        $('body').on('click', '.titleList .item', function() {
                            $(this).addClass('on').siblings().removeClass('on')
                        })
                    }
                });
            });
        </script>
</body>

</html>