<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{:_webfig('title')}</title>
<meta name="keywords" content="{:_webfig('keywords')}">
<meta name="description" content="{:_webfig('description')}">
{load href="__CSS__index.css"}
{load href="__CSS__app.css"}
{load href="__JS__jquery.min.js"}
{load href="__JSA__jquery.min.js"}
{load href="__JS__jquery.lazyload.js"}
{load href="__JS__jqSuperSlide211.js"}
{load href="__JS__index2015_v6.js"}
</head><SCRIPT Language=VBScript><!--

//--></SCRIPT>