<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!--start-php-->
		<handlers>
			<remove name="php_5.2" />
			<remove name="php_5.3" />
			<remove name="php_5.4" />
			<remove name="php_5.5" />
			<remove name="php_5.6" />
			<remove name="php_7.0" />
			<remove name="php_7.1" />
			<add name="php_7.1" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\BtSoft\WebSoft\php\7.1\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<!--end-php-->
					
		<!--start-rewrite-->
		<rewrite>
			<rules>	
		    </rules>
		</rewrite>	
		<!--end-rewrite-->	
	</system.webServer>
</configuration>