<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<meta name="format-detection" content="telephone=no" />
		<title>收徒奖励</title>
		{css href="__STYLE__m/css/aui.css"}
		<style>
			html, body{
				height: 100%;
			}
			.img{
				position: relative;
				width: 100%;
				height: 100%;
			}
			.img2{
				position: absolute;
				top: 35%;
				left: 22%;
				width: 55%;
			}
			@media screen and (max-width: 1000px) {
				.img2{
					top: 45%;
				}
			}
			@media screen and (max-width: 700px) {
				.img2{
					top: 40%;
				}
			}
			@media screen and (max-width: 500px) {
				.img2{
					top: 40%;
				}
			}
		 
			 
			 
		</style>
	</head>
	<body>
		 <div class="aui-content">
		 	<img class="img" src="__STYLE__yaoqing/2by.png" />
		 	<img class="img2" src="{$url}" />
		 </div>
	</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>