<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{$webtitle}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="__PORT__/lib/style.css">
</head>
<body class="uni-body pages-reg-reg">
    <div class="uni-page-head">
        用户注册协议
        <div class="return" onclick="back()">返回</div>
    </div>
    <div class="uni-placeholder"></div>
    
    <div class="content">
        <div class="div">
          <div class='article'>
              {$content}
          </div>
        </div>
    </div>
    <script type="text/javascript" src="__PORT__/lib/jquery.js"></script>
    <script type="text/javascript" src="__PORT__/lib/register.js"></script>
</body>
</html>