<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><?php echo $app->trans('install.title') ?></title>

        <!-- Fonts -->

        <?php echo $app->renderView('blocks/fonts.html'); ?>

        <!-- Styles -->

        <link rel="icon" type="image/icon" href="<?php echo $app->asset('img/fav.ico') ?>">

        <link rel="stylesheet" href="<?php echo $app->asset('css/jquery.mCustomScrollbar.css') ?>" />
        <link rel="stylesheet" href="<?php echo $app->asset('css/framework.css') ?>" />
        <link rel="stylesheet" href="<?php echo $app->asset('css/main.css') ?>" />
        <link rel="stylesheet" href="<?php echo $app->asset('css/admin.css') ?>" />
        <link rel="stylesheet" href="<?php echo $app->asset('css/bootstrap.css') ?>" />
    </head>
    <body class="install-wizard">

        <img class="logo" src="<?php echo $app->asset('img/logo.png') ?>">

        <div class="panel">

            <div class="header"><?php echo $app->trans('install.title') ?></div>

            <div class="content">

                <!-- Introduction -->

                <p class="intro">
                    <?php echo $app->trans('install.intro', array('%app%' => $app->trans('app.name'))) ?>
                </p>

                <!-- Actions -->

                <div class="row buttons">
                    <div class="col6">
                        <a class="btn secondary" href="<?php echo $app->path('Admin:index') ?>">
                            <i class="icon-remove-sign icon-white"></i>
                            <?php echo $app->trans('cancel') ?>
                        </a>
                    </div>

                    <div class="col6">
                        <a class="btn" href="<?php echo $app->path('Install:wizard') ?>">
                            <?php echo $app->trans('lets.go') ?>
                            <i class="icon-circle-arrow-right icon-white"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>
