<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><?php echo $app->trans('widget.test') ?></title>

        <!-- Styles -->

        <link rel="icon" type="image/icon" href="<?php echo $app->asset('img/fav.ico') ?>">
    </head>
    <body>

    	<?php echo $app->renderView('blocks/debugScripts.html'); ?>

        <script>
            (function(d,t,u,s,e){e=d.getElementsByTagName(t)[0];s=d.createElement(t);s.src=u;s.async=1;e.parentNode.insertBefore(s,e);})(document,'script','<?php echo $app->path("Widget:init") ?>');
        </script>

    </body>
</html>
