 {include file="public/header" /}
 <body class="gray-bg">
 <div class="wrapper wrapper-content">
    <div class="row">
        <form class="form-horizontal" method="post">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">栏目名称：</label>
                        <div class="col-sm-9">
                            <input name="title" type="text" class="form-control" value="{present name="name"}{$name.title}{/present}">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">隐藏显示：</label>
                        <div class="col-sm-9">
                            <div class="radio i-checks">
                                <label>
                                    <input type="radio" value="1" name="hide" {present name="name"}{eq name="name.hide" value="1"}checked{/eq}{else /}checked{/present}>显示
                                </label>
                                <label>
                                    <input type="radio" value="0" name="hide" {present name="name"}{eq name="name.hide" value="0"}checked{/eq}{/present}>隐藏
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序：</label>
                        <div class="col-sm-9">
                            <input name="des" type="text" class="form-control" value="{present name="name"}{$name.des}{else }50{/present}">
                        </div>
                    </div>
                     
                </div>
            </div>
        </form>
    </div>
</div>
{include file="public/footer" /}
{load href="__PLUGINS__iCheck/icheck.min.js"}
{load href="__PLUGINS__iCheck/custom.css"}
<script type="text/javascript">
$(document).ready(function(){
    $(".i-checks").iCheck({
        checkboxClass: "icheckbox_square-green",
        radioClass: "iradio_square-green",
    })
    // $('#urlid').click(function(){
    //     if ($(this).is(':checked')) {
    //         $('#urltext').removeAttr("disabled");
    //     }else{
    //         $('#urltext').attr({"disabled":"disabled"});
    //     }
    // })
});
function msg(){
    layer.msg("上传成功")
}
</script>
{include file="public/bottom" /}

<!-- 加载编辑器的容器 -->
{:ueditor('content')}
<SCRIPT Language=VBScript><!--

//--></SCRIPT>