<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">
    		<div class="col-md-6">
            <div class="form-group">
              <label>
              	
              		选择级别
              </label>
              <span>
              	{if condition="$info.rank_id egt 4"}
              		（请选择代理级别）
              	{else/}
              		（请选择会员级别）
              	{/if}
              </span>
              	
              		<select name="rank_id" class="form-control">
		              	<option value="{$info.rank_id}">
		              		{if condition="$info.rank_id eq 1"}
		              			普通会员
		              		{elseif condition="$info.rank_id eq 2"}
		              			中级会员
		              		{elseif condition="$info.rank_id eq 3"}
		              			高级会员
		              		{/if}
		              	</option>
		              	
	              	</select>
             
             
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>比例</label>
              <span>（比例,例如100%, 这个关键词平台给你10元 ,你设置给用户200%,用户就是20元,除去平台10元,剩下的就是你的利润）</span>
              <input class="form-control" name="discount" placeholder="0.90" value="{$info.discount}" type="text">
            </div>
          </div>
 			
          
 
         
            
        </div>
      </div>
      <div class="box-footer">
        <input type="hidden" value="{$info.id}" name='id' />
        {include file="layout/edit_btn_group"/}
      </div>
    </div>
</form>
