
<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label>请输入充值金额</label>
              <input class="form-control"  name="price" placeholder="请输入充值金额" type="text">
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label>备注信息</label>
              <input class="form-control" name="beizhu" placeholder="请输入备注信息" type="text">
            </div>
          </div>

          <input type="hidden" name="userid" value="{$id}">
            
        </div>
      </div>
      <div class="box-footer">
        
        {include file="layout/edit_btn_group"/}
      </div>
    </div>
</form>


