{extend name="common/world"}
{block name="title"}创业众筹{/block}
{block name="style"}
<style>
.projects-image {
	width: 118px;height: 90px;
}
.projects-title {
	font-size: 0.95rem;
	font-weight: bold;
}
.media-body {
	position: relative;
}
.projects-info {
	position: absolute;left: 0;bottom: 0;right: 0;
}
.progress {
	position: absolute;left: 0;bottom:2rem;right: 2.8rem;
}
.progress-label {
	position: absolute;right: 0rem;bottom: 1.5rem;
}
.w-86 {
    width: 86% !important;
}
a.media {
	height: 90px;
	text-decoration: none;
}
.jeishao {
	text-indent: 2rem;
}
.meixin {
	margin-top: -.4rem;
}
.meixin span {
	font-size: 1.3rem;
}
</style>
{/block}
{block name="container"}
<div class="card">
	<div class="card-body">
		<div class="table-responsive">
			<h5 class="font-weight-light">众筹介绍</h5>
			<div class="text-muted jeishao">
				<div>共享人人财富  成就人人梦想</div>
				<div>{$Think.config.hello.title}的每个会员可发起项目众筹获得其他会员的美币支持，发起人在项目成功后用产品或服务回馈支持自己的会员，支持其他会员发起的众筹项目越多，自己发布的众筹项目会得到10倍的支持和优先支持权。</div>
			</div>
			<h5 class="font-weight-light mt-3 mb-4">我的情况</h5>
			<div class="alert alert-info">
				<div class="media">
					<img class="align-self-start w-7 h-7 mr-3" src="{:avatar($Think.session.user.profile.avatar, $Think.session.user.profile.idcard)}" alt="Generic placeholder image" />
					<div class="media-body">
						<h5 class="mt-0 mb-0 clearfix">
							<span class="float-left">{$Think.session.user.profile.nickname}</span>
							<div class="meixin ml-1 float-left">
								{volist name="Think.config.hello.funding.level" id="item"}
									{if $myTotalMoney >= $item[0] }
										<span class="text-blue">ღ</span>
									{/if}
								{/volist}
							</div>
						</h5>
						{elt name="myInvestCount" value="0"}
							<div class="text-muted mt-2">您目前尚未参与任何项目</div>
						{else /}
							<div class="text-muted mt-2 small">共为 <b class="text-red">{$myInvestCount}</b> 个项目支持了 <b class="text-green">{$myTotalMoney}{$Think.config.hello.unit}</b></div>
						{/elt}
						{gt name="maxTarget" value="0"}
							<div class="text-muted mt-2 small">您当前可发起筹资最多不超过{$maxTarget}{$Think.config.hello.unit}的项目</div>
						{/gt}
					</div>
				</div>
			</div>
			<h5 class="font-weight-light mt-3">参与众筹</h5>
			<table class="table card-table table-striped table-vcenter">
				<thead>
					<tr>
						<th>支持额度{$Think.config.hello.unit}</th>
						<th>奖章(美心)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1000-4999</td>
						<td>ღ</td>
					</tr>
					<tr>
						<td>5000-9999</td>
						<td>ღღ</td>
					</tr>
					<tr>
						<td>10000-49999</td>
						<td>ღღღ</td>
					</tr>
					<tr>
						<td>50000-99999</td>
						<td>ღღღღ</td>
					</tr>
					<tr>
						<td>100000+</td>
						<td>ღღღღღ</td>
					</tr>
				</tbody>
			</table>
			<h5 class="font-weight-light mt-2">发起众筹</h5>
			<table class="table card-table table-striped table-vcenter">
				<thead>
					<tr>
						<th>众筹额度{$Think.config.hello.unit}</th>
						<th>发起条件</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10000-49999</td>
						<td>ღ</td>
					</tr>
					<tr>
						<td>50000-99999</td>
						<td>ღღ</td>
					</tr>
					<tr>
						<td>100000-499999</td>
						<td>ღღღ</td>
					</tr>
					<tr>
						<td>500000-999999</td>
						<td>ღღღღ</td>
					</tr>
					<tr>
						<td>1000000+</td>
						<td>ღღღღღ</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="card-footer text-right">
		{elt name="maxTarget" value="0"}
			<a href="/funding.html" class="btn btn-success">我知道了</a>
		{else /}
			<a href="/funding/publish.html" class="btn btn-success">我知道了</a>
		{/elt}
	</div>
</div>
{/block}
{block name="script"}
<script>
var frame = 'welcome';
</script>
<script src="/static/js/funding.js"></script>
{/block}