@charset "gb2312";
body { margin:0; background: #498fe4 url(../images/bg.png) repeat-x; color:#444; }
h1, h2, h3, h4, h5, h6 { font-family: "microsoft yahei", Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; margin:0; padding:0; }
ol, ul, li, div, p, dl, dt, dd { list-style:none; margin:0; padding:0; text-justify:inter-ideograph; font-size:12px; font-family:Arial, Helvetica, sans-serif }
a, img, table, td, tr { border:none; }
.clear { clear:both; }
a { color:#ff3800 ;text-decoration:none}
a:hover { text-decoration:none }
input, select, textarea { font-family:Arial, Helvetica, sans-serif; padding:1px;}
a { blr:expression(this.onFocus=this.blur())} /*for IE*/ 
a { outline:none; } /*for Firefox*/

#bg{ background:url(../images/bg.png) center top no-repeat; width:100%; height:100%; position:absolute;}
#logo{ background:url(../images/logo.png); width:429px; height:68px; margin:50px auto 50px auto;}
#lay{ width:900px;border-radius: 3px; background:#f0f3f5; margin:0 auto;box-shadow:0px 0px 10px #2972d3; border:1px solid #fff; }

#top{border-radius:3px 3px 0 0;border-bottom: solid 1px #fff;}
#top ul li{ float:left;  background:url(../images/top_bg.gif) no-repeat top right;height:90px; cursor:pointer;}
#top ul li:hover{ background:url(../images/top_hover_bg.gif) no-repeat top right;}
#top ul .li_hover{ background:url(../images/top_hover_bg.gif) no-repeat top right;}
#top ul li p.sel{ background:url(../images/top_hover.png) no-repeat center 0px; height:124px; position:relative; top:-15px;}
#top ul li span{color:#fff; width:120px; text-align:center; font-size:14px;   display:block; padding-top:55px; text-shadow: 1px 1px 0 #333;}
#top ul li p span{ text-shadow: 1px 1px 0 #2f6fd8;}
#top .domain{ background:url(../images/icon.png) center 15px no-repeat;}
#top .website{ background:url(../images/icon.png) center -284px no-repeat;}
#top .mail{ background:url(../images/icon.png) center -180px no-repeat;}
#top .host{background:url(../images/icon.png) center -85px no-repeat;}
#top .cloud{background:url(../images/icon.png) center -387px no-repeat;}
#top .db{background:url(../images/icon.png) center -498px no-repeat;}
#top .cloud1{ background:url(../images/icon.png) center -580px no-repeat; font-family:"Microsoft Yahei", Arial;}

#con{ padding:20px; border-bottom: solid 1px #cccfd0}
#con dl{width:600px;margin:0 auto;}
#con dl dt{ font-size:16px;  text-shadow: 1px 1px 0 #fff; }
#con dl dt,#con dl dd{padding:5px;}
#con dl dd input{ border: solid 1px #ccc;border-radius:3px; padding:10px; width:300px; color:#444;box-shadow:0px 0px 5px #e9ecee; padding-left:30px; font-size:14px;}
#con dl dd input:hover{border: solid 1px #ccdff6;box-shadow:0px 0px 10px #ccdff6;}
#con .user{ background:url(../images/input_bg.gif) no-repeat;}
#con .pw{ background:url(../images/input_bg.gif) no-repeat 0px -50px;}

#bottom,.con_sub{ background:#ebeef0; border-top: solid 1px #f9f9f9; padding:10px 20px;}
#bottom{text-align:center;}
#bottom a,#error_lay a{ background:url(../images/sub.gif); display:inline-block; width:108px; height:40px; line-height:38px; text-align:center; color:#fff;  font-size:16px;text-shadow: 1px 1px 0 #2f6fd8; margin-left:auto;margin-right:auto;}
#bottom a:hover,#error_lay a:hover{ background:url(../images/sub.gif) 0 -40px;}
#error_lay a { margin-left:80px;}

#in_logo{ background:url(../images/Panel_logo.png) left center no-repeat; width:90%; height:53px; margin:20px auto;}
#in_lay{ width:90%;border-radius: 3px; background:#f0f3f5; margin:0 auto;box-shadow:0px 0px 10px #2972d3; border:1px solid #fff; margin-bottom:50px;}

#in_top{border-radius:3px 3px 0 0;border-bottom: solid 1px #fff; background:url(../images/in_top_bg.gif) repeat-x; height:73px;}
#in_top p{ background:url(../images/user.gif) no-repeat; font-size:16px; color:#fff; display:inline-block; height:50px; line-height:50px; text-indent:60px;text-shadow: 1px 1px 0 #282d34; margin:10px 0 0 10px;}
#in_top a{ background:url(../images/out.png) no-repeat; width:112px; height:35px;color:#fff;  font-size:16px;text-shadow: 1px 1px 0 #af0000; display:inline-block; line-height:33px; text-indent:35px; float:right; margin:20px 20px 0 0; cursor:pointer; position:relative; +top:-60px;}
#in_top a:hover{ background:url(../images/out.png) no-repeat 0 -35px;}

#in_con{ background:#f0f3f5 url(../images/in_con_bg.gif) repeat-y;}
#left ul li{ background:url(../images/in_li_bg.gif) no-repeat; width:210px; height:40px; line-height:40px; text-indent:30px; color:#fff;  font-size:14px;text-shadow: 1px 1px 0 #282d34; cursor:pointer; }
#left ul li:hover{background:url(../images/in_li_bg.gif) no-repeat 0 -40px;}
#left ul .xz{background:url(../images/in_li_bg.gif) no-repeat 0 -80px;text-shadow: 1px 1px 0 #316cd7;}
#left{ float: left; }

#right{ padding:20px;}
#right .info{ border-radius:3px; background:#fff;margin-left:210px;border: 1px solid #EBEBEB; margin-bottom:20px;}
#right .info_top{border-radius:3px 3px 0 0; background:url(../images/in_h1_bg.gif);}
#right .info_top h2{ height:49px; line-height:49px; color:#333333; font-size:14px; text-indent:5px;text-shadow: 1px 1px 0 #f0f3f4;}
#right .info span{ float:right; margin-top:-30px; margin-right:10px;text-shadow: 1px 1px 0 #f0f3f4; font-weight:bold;}
#right .info span i{ color:#2e65bd; font-style:normal;}
.cfBox {border-radius:0 0 3px 3px; line-height:24px;}
.cfBox td {border-right: 1px solid #EBEBEB;color: #484848;}
.subtbl td{border:0;color: #484848;}
.buy_tr { background: none repeat scroll 0 0 #F2F2F2;border-color: #FFFFFF #EBEBEB #DFDFDF #FFFFFF; border-style: solid; border-width: 1px; font-size:12px;}
.buy_tr2 {border-bottom: 1px solid #EBEBEB; border-right: medium none; font-size:12px;}

#error_lay{border-radius: 3px; background:#f1f2f2; margin:300px auto 0 auto;box-shadow:0px 0px 10px #bf0931; border:1px solid #bf0931;width:40%;}
#error_lay .con{ padding:10px 0 10px 100px; text-shadow: 1px 1px 0 #FFFFFF; line-height:32px;height:auto; background:url(../images/Error.png) 10px 10px no-repeat}
#error_lay .con h1{ font-size:16px;}
#error_lay .con h2{ font-size:14px;height:auto;min-height:30px;}


#ok_lay{border-radius: 3px; background:#f1f2f2; margin:300px auto 0 auto;box-shadow:0px 0px 10px #7ebe00; border:1px solid #7ebe00;width:40%;}
#ok_lay .con{ padding:10px 0 10px 100px; text-shadow: 1px 1px 0 #FFFFFF; line-height:32px; background:url(../images/ok.png) 10px 10px no-repeat}
#ok_lay .con h1{ font-size:20px;color:#4169b2;font-weight:700;font-family:Helvetica;}
#ok_lay .con h2{ font-size:19px;font-family:Helvetica;height:30px;}
#ok_lay a{ background:url(../images/sub.gif); display:inline-block; width:108px; height:40px; line-height:38px; text-align:center; color:#fff;  font-size:16px;text-shadow: 1px 1px 0 #2f6fd8; margin-left:auto;margin-right:auto;}
#ok_lay a:hover{ background:url(../images/sub.gif) 0 -40px;}
#ok_lay a { margin-left:80px;}


.ques{width:16px;height:16px;background:url(../images/ques.png) no-repeat;cursor:pointer;display:inline-block;position:absolute;margin:5px 0 0 5px!important;}
.log{position: absolute;width: 500px;height: auto;background-color: white;border: 1px solid black;padding: 5px;text-align: justify;margin-top: 0;-moz-border-radius: 3px; /* Firefox */ -webkit-border-radius:3px; /* Safari and Chrome */ border-radius:3px;margin-left: 130px;display:none;}

#lay{ width:840px;border-radius: 3px; background:#f0f3f5; margin:0 auto;box-shadow:0px 0px 10px #2972d3; border:1px solid #fff; }
#con dl {margin-left:200px;}