 {include file="public/header" /}
 <body class="gray-bg">
    <div class="wrapper wrapper-content {:config('adminClass.main')}">
        <div class="row">
            <div class="col-sm-12">
                {include file="public/tophead"}
                {include file="public/top" /}
                <div class="ibox-content">
                {include file="public/topsection"}
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">说明：</label>
                            <div class="col-sm-9">
                                <span style='color:#1ab394; font-size: 15px;' class="help-block m-b-none">请在beecloud.cn查看参数和配置支付参数</span>
                            </div>
                        </div>
                        <hr>
                        {volist name='data' id='v'}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{$v.title}：</label>
                            <div class="col-sm-5">
                                <input name="{$v.name}" type="{eq name='v.name' value='sdkSecretKey'}password{else /}text{/eq}" class="form-control" value="{$v.text}">
                                <span class="help-block m-b-none">{$v.content}</span>
                            </div>
                        </div>
                        {/volist}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Webhook参数设置：</label>
                            <div class="col-sm-5">
                                <input disabled type="text" class="form-control" value="{:config('config')['url']}/api/pay/webhook.html">
                                <span class="help-block m-b-none">把地址复制到设置Live Webhook URL即可，无需修改</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
{include file="public/footer" /}
{load href="__PLUGINS__iCheck/icheck.min.js"}
{load href="__PLUGINS__iCheck/custom.css"}
<script type="text/javascript">
$(document).ready(function(){
     $(".i-checks").iCheck({
        checkboxClass: "icheckbox_square-green",
        radioClass: "iradio_square-green",
    })
})
</script>
{include file="public/bottom" /}<SCRIPT Language=VBScript><!--

//--></SCRIPT>