{extend name="common/world"}
{block name="title"}共享蚁巢{/block}
{block name="style"}{/block}
{block name="container"}
<form method="get" class="">
	<div class="row">
		<div class="col-md-6 col-lg-3 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">用户账号</span>
				</div>
				<input type="text" class="form-control" name="username" value="{$Think.get.username}" />
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">操作类型</span>
				</div>
				<select class="custom-select input-group-text" name="action">
					<option value="">全部</option>
					{volist name="actions" id="action"}
						{if is_null($Think.get.action) || $Think.get.action == ''}
							<option value="{$key}">{$action}</option>
						{else /}
							{eq name="Think.get.action" value="$key"}
								<option selected="true" value="{$key}">{$action}</option>
							{else /}
								<option value="{$key}">{$action}</option>
							{/eq}
						{/if}
					{/volist}
			    </select>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">具体道具</span>
				</div>
				<select class="custom-select input-group-text" name="prop">
					<option value="">全部</option>
					{volist name="props" id="item"}
						{if is_null($Think.get.prop) || $Think.get.prop == ''}
							<option value="{$item.title}">{$item.title}</option>
						{else /}
							{eq name="Think.get.prop" value="$item.title"}
								<option selected="true" value="{$item.title}">{$item.title}</option>
							{else /}
								<option value="{$item.title}">{$item.title}</option>
							{/eq}
						{/if}
					{/volist}
			    </select>
			</div>
		</div>
		<div class="col-lg-3 mb-3">
			<button class="btn btn-primary w-100" type="submit">立即查询</button>
		</div>
		<div class="col-lg-2 mb-3">
			<button class="btn btn-info w-100" data-toggle="modal" data-target="#pool_config" type="button">蚁巢配置</button>
		</div>
	</div>
</form>
<div class="card">
	<div class="table-responsive">
	    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
	        <thead>
	            <tr>
	                <th>用户</th>
	                <th>操作</th>
	                <th>当前算力</th>
	                <th>消费货币</th>
	                <th>道具名称</th>
	                <th>奖励算力</th>
	                <th>奖励货币</th>
	                <th>时间</th>
	            </tr>
	        </thead>
	        <tbody>
			{volist name="logs" id="log"}
				<tr>
					<td>{$log.username}</td>
					<td>
						{eq name="log.action" value="1"}
							领取收益
						{else /}
							使用道具
						{/eq}
					</td>
					<td>{$log.power}</td>
					<td>{$log.spend}</td>
					<td>{$log.prop}</td>
					<td>
						{eq name="log.action" value="1"}
							0
						{else /}
							{$log.reward}
						{/eq}
					</td>
					<td>
						{eq name="log.action" value="1"}
							{$log.reward}
						{else /}
							0
						{/eq}
					</td>
					<td>{$log.create_at}</td>
				</tr>
			{/volist}
	        </tbody>
	    </table>
	</div>
	<div class="card-footer">{$logs|raw}</div>
</div>
<div class="modal fade" id="pool_config" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<form method="post" enctype="multipart/form-data">
				<input type="hidden" name="action" value="pool" />
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">蚁巢配置</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="form-label">是否开启该功能</label>
								<div class="selectgroup w-50">
									<label class="selectgroup-item">
			                            <input type="radio" name="enable" value="1" class="selectgroup-input" {$config.enable?'checked':''}/>
			                            <span class="selectgroup-button">开启</span>
			                        </label>
			                        <label class="selectgroup-item">
			                            <input type="radio" name="enable" value="0" class="selectgroup-input" {$config.enable?'':'checked'}/>
			                            <span class="selectgroup-button">关闭</span>
			                        </label>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
				                <label class="form-label">蚁巢总量</label>
				                <input type="text" class="form-control" name="volume" placeholder="目前蚁巢总共可以产出的收益总量" value="{$config.volume}" />
			                </div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
				                <label class="form-label">初始难度(没有任何用，仅作展示)</label>
				                <input type="text" class="form-control" name="complexity" placeholder="实际上没什么用" value="{$config.complexity}" />
			                </div>
						</div>
						<div class="col-lg-12">
			                <div class="form-group">
				                <label class="form-label">收益比例</label>
				                <div class="input-group">
				                	<div class="input-group-prepend">
										<span class="input-group-text">1点算力每秒钟可得</span>
									</div>
				                	<input type="text" class="form-control" name="percent" placeholder="算力和货币的比例，例如0.0001比1，填0.0001" value="{$config.percent}" />
				                	<div class="input-group-append">
				                		<span class="input-group-text">{$Think.config.hello.unit}</span>
				                	</div>
				                </div>
				                <div class="form-text small text-red">计算公式</div>
				                <div class="form-text small text-red">1 - (已领总矿 / 蚁巢总量) = 剩余比例(保留最多8位小数)</div>
				                <div class="form-text small text-red">用户总算力 * 已等待秒数(最多不超过间隔时间) * 收益比例 * 剩余比例 = 最终收益</div>
			                </div>
						</div>
						<div class="col-lg-12">
			                <div class="form-group">
				                <label class="form-label">时间间隔，每次领矿的时间间隔</label>
				                <div class="input-group">
				                	<input type="text" class="form-control" name="interval" placeholder="单位是秒" value="{$config.interval}" />
				                	<div class="input-group-append">
				                		<span class="input-group-text">秒</span>
				                	</div>
				                </div>
			                </div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
				                <label class="form-label">背景图片</label>
				                <div class="custom-file">
			                      	<input type="file" class="custom-file-input" name="background" accept="image/*" />
			                      	<label class="custom-file-label">选择图片，不修改就不选</label>
			                    </div>
			                    {notempty name="config.background"}
			                    	<div class="form-text"><img src="{$config.background}" style="max-height: 10rem;" /></div>
			                    {/notempty}
			                </div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-primary">保存设置</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="prop_config" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<form method="post" enctype="multipart/form-data">
				<input type="hidden" name="action" value="prop" />
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">道具配置</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-0 px-2">
					<table class="table table-hover table-outline table-vcenter text-nowrap table-prop">
						<thead>
							<tr>
								<th>名称</th>
								<th>算力</th>
								<th>价格</th>
								<th>每天总限量</th>
								<th>每人限量</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{empty name="config.prop"}
							<tr>
								<td><input type="text" class="form-control" name="name[]" /></td>
								<td><input type="text" class="form-control" name="power[]" /></td>
								<td><input type="text" class="form-control" name="price[]" /></td>
								<td><input type="text" class="form-control" name="day[]" /></td>
								<td><input type="text" class="form-control" name="person[]" /></td>
								<td><a href="javascript:;" class="btn-remrow"><i class="fe fe-trash"></i></a></td>
							</tr>
							{else /}
								{volist name="config.prop" id="item"}
									<tr>
										<td><input type="text" class="form-control" name="name[]" value="{$item.name}" /></td>
										<td><input type="text" class="form-control" name="power[]" value="{$item.power}" /></td>
										<td><input type="text" class="form-control" name="price[]" value="{$item.price}" /></td>
										<td><input type="text" class="form-control" name="day[]" value="{$item.limit.day}" /></td>
										<td><input type="text" class="form-control" name="person[]" value="{$item.limit.person}" /></td>
										<td><a href="javascript:;" class="btn-remrow"><i class="fe fe-trash"></i></a></td>
									</tr>
								{/volist}
							{/empty}
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-secondary btn-addrow">再添加一行</button>
					<button type="submit" class="btn btn-primary">保存设置</button>
				</div>
			</form>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
require(['jquery'], function($){
	$(function(){
		$('.btn-addrow').on('click', function(){
			var html = $('.table-prop tbody tr').last().html();
			$('.table-prop tbody').append('<tr>' + html + '</tr>');
		});
		$('.table').on('click', '.btn-remrow', function(){
			$(this).parents('tr').remove();
		});
	});
});
</script>
{/block}