{extend name="common/world"}
{block name="title"}票券{/block}
{block name="style"}{/block}
{block name="container"}
<form method="get" class="">
	<div class="row">
		<div class="col-md-6 col-lg-3 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">用户账号</span>
				</div>
				<input type="text" class="form-control" name="username" value="{$Think.get.username}" />
			</div>
		</div>
		<div class="col-md-6 col-lg-2 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">票券类型</span>
				</div>
				<select class="custom-select input-group-text" name="type">
					<option value="">全部</option>
					{volist name="types" id="item"}
						{if is_null($Think.get.type) || $Think.get.type == ''}
							<option value="{$item.type}">{$item.type}</option>
						{else /}
							{eq name="Think.get.type" value="$item.type"}
								<option selected="true" value="{$item.type}">{$item.type}</option>
							{else /}
								<option value="{$item.type}">{$item.type}</option>
							{/eq}
						{/if}
					{/volist}
			    </select>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">具体票号</span>
				</div>
				<input type="text" class="form-control" name="token" value="{$Think.get.token}" />
			</div>
		</div>
		<div class="col-lg-2 mb-3">
			<button class="btn btn-primary w-100" type="submit">立即查询</button>
		</div>
		<div class="col-lg-2 mb-3">
			<button class="btn btn-info w-100" data-toggle="modal" data-target="#generate" type="button">批量生成</button>
		</div>
	</div>
</form>
<div class="card">
	<div class="table-responsive">
	    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
	        <thead>
	            <tr>
	                <th>类型</th>
	                <th>号码</th>
	                <th>使用者</th>
	                <th>生成时间</th>
	                <th>使用时间</th>
	                <th></th>
	            </tr>
	        </thead>
	        <tbody>
			{volist name="logs" id="log"}
				<tr>
					<td><span class="tag">{$log.type}</span></td>
					<td>{$log.token}</td>
					<td>{$log.username}</td>
					<td>{$log.create_at}</td>
					<td>{$log.update_at}</td>
					<td>
						<a href="?action=remove&token={$log.token}" class="icon"><i class="fe fe-trash"></i></a>
					</td>
				</tr>
			{/volist}
	        </tbody>
	    </table>
	</div>
	<div class="card-footer">{$logs|raw}</div>
</div>
<div class="modal fade" id="generate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<form method="post">
				<input type="hidden" name="action" value="create" />
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">批量生成</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
				                <label class="form-label">票券类型</label>
				                <input type="text" class="form-control" name="type" maxlength="5" placeholder="随意、知道代表的意义就行" />
			                </div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
				                <label class="form-label">生成数量</label>
				                <input type="text" class="form-control" name="number" placeholder="建议数量不要太多" />
			                </div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-primary">立即生成</button>
				</div>
			</form>
		</div>
	</div>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
require(['jquery'], function($){
	$(function(){
		$('.btn-addrow').on('click', function(){
			var html = $('.table-prop tbody tr').last().html();
			$('.table-prop tbody').append('<tr>' + html + '</tr>');
		});
		$('.table').on('click', '.btn-remrow', function(){
			$(this).parents('tr').remove();
		});
	});
});
</script>
{/block}