#fx-footer{
	background: #F5F5F5;
	border-top:1px solid #E2E2E2;
	height: 44.555px;
	min-height:44.555px;
}
#fx-footer .aui-img-object {
	width: 1rem;
	margin: 0 auto;
	margin-top: 0.2rem;
}
.aui-bar-tab .aui-active{
	color: #D43D3D;
}
.aui-bar-tab .aui-bar-tab-item{
	height: 44.555px;
}
.aui-bar-tab .aui-bar-tab-label{
	font-size: 0.5rem;
}