{include file="public/header" /}
<div class="outter-wp">
    <!--/sub-heard-part-->


    <!--/set-2-->
    <div class="set-1">
        <div class="graph-2 general">
            <div class="sub-heard-part">
                <ol class="breadcrumb m-b-0">
                    <li><a>系统</a></li>
                    <li class="active">短信模板设置</li>
                </ol>
            </div>
            <div class="grid-1">
                <div class="form-body">

                    <form class="form-horizontal" action="{:url('setting/savesms')}" method="post">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">注册</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1001" value="{$Think.config.smstid.1001}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">找回密码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1002" value="{$Think.config.smstid.1002}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">评分不足</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1003" value="{$Think.config.smstid.1003}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">初审通过</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1004" value="{$Think.config.smstid.1004}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">放款至钱包</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1005" value="{$Think.config.smstid.1005}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">已还款</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1006" value="{$Think.config.smstid.1006}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">提现已提交</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1007" value="{$Think.config.smstid.1007}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">提现失败</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1008" value="{$Think.config.smstid.1008}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">已放款到银行卡</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1009" value="{$Think.config.smstid.1009}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">借款今日到期</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1010" value="{$Think.config.smstid.1010}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">借款即将到期</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1011" value="{$Think.config.smstid.1011}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">资料完善</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1012" value="{$Think.config.smstid.1012}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-2 control-label">余额未提现</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1" name="1013" value="{$Think.config.smstid.1013}">
                            </div>
                            <div class="col-sm-2">
                                <!--<p class="help-block">Your help text!</p>-->
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">提交</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}