{extend name="common/world"}
{block name="title"}刮刮乐{/block}
{block name="style"}
<style>
.scratch {
	position: relative;
	height: 10rem;
	background-color: #467fcf;
	background-image: url(/static/image/ggl.jpg);
	background-size: auto 100%;
	border-radius: .5rem;
	box-shadow: 1px 1px 1px #999;
	/*background-position: right center;*/
}
.scratch-reward {
	position: absolute;left: 0px;top: 0px;
	width: 100%;height: 100%;text-align: center;
	color: #fff;font-size: 1.2rem;line-height: 50px;
	background-color: #333;
	border-radius: 5px;
}
.scratch_viewport {
	position: absolute;
	left: 50%; top: 50%;
	width: 200px; height: 50px;
	margin: -25px 0 0 -100px;
 	z-index: 0;overflow: hidden;
}
.scratch_picture-under {
	position: absolute;top: 0;left: 0;
	width: 100%;height: 100%; border-radius: 5px;
	/*display: block;*/
	z-index: -1;
	display: none;
}
.scratch_viewport canvas {
	position: relative;
	width: 100%; height: auto;
	border-radius: 5px;
	z-index: 1;
}
.scratch_go {
	position: absolute;left: 0px;top: 0px;
	width: 100%;height: 100%;
	z-index: 5;
	line-height: 2.2;
	font-size: 1rem;
	/*background-color: #9fa1a0;*/
}
.scratch-tips {
	position: absolute;right: 0.5rem;bottom: 0.5rem;
	text-shadow: 1px 1px 1px #fff;
}
.scratch-reset {
	position: absolute;left: 50%;top: 65px;
	margin-left: 70px;
	display: none;
}
.scratch-reset i {
	color: white;font-size: 2rem;
}
@-webkit-keyframes scratch_viewport-out {
	0% {
		transform: translateX(0px) scale3d(1, 1, 1);
	}
	100% {
		transform: translateX(-20px) scale3d(.8, .8, .8);
	}
}
.scratch-again .scratch_viewport {
	animation: scratch_viewport-out 1s both;
}
@-webkit-keyframes scratch-reset-init {
	0% {
		opacity: 0;
		transform: scale3d(0, 0, 0) rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1) rotate(360deg);
	}
}
.scratch-again .scratch-reset {
	animation: scratch-reset-init 1s both;
	display: block;
}
</style>
{/block}
{block name="container"}
<div class="wrapper mb-3">
	<div class="scratch">
		{eq name="myChance" value="-1"}
			<div class="scratch-count p-2 text-white">机会无限，试试运气吧！</div>
		{else /}
			<div class="scratch-count p-2 text-white">您还剩余 <span class="badge badge-dark">{$myChance}</span> 次机会</div>
		{/eq}
		<div class="scratch_viewport">
			<div hidden class="scratch-reward">抽奖中...</div>
			<!-- result picture -->
			<canvas id="js-scratch-canvas"></canvas>
		</div>
		<div class="scratch-reset"><i class="fa fa-rotate-right"></i></div>
		<div class="scratch-tips text-blue"><a class="text-blue" href="/team/inviter.html">邀请朋友加入获得更多的机会</a></div>
	</div>
</div>
<div class="card card-myrewards">
	<div class="card-header">
		<div class="card-title f1">我的奖品</div>
		<div class="card-options">
			<a href="#" class="card-options-collapse mr-1" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
		</div>
	</div>
	<div class="card-body o-hidden p-0">
		<table class="table table-hover table-outline table-vcenter text-nowrap card-table">
			<tbody>
				{volist name="myRewardLog" id="item"}
				<tr id="my{$item.id}" reward="{$item.reward_type}">
					<td class="text-left">
						<div class="small">{$item.reward}</div>
						<div class="small">{$item.date}</div>
					</td>
					<td>
						{switch item.status}
							{case 1}
								<span class="status-icon bg-success"></span> <small>已发货</small>
							{/case}
							{case 2}
								<span class="status-icon bg-warning"></span> <small>待发货</small>
							{/case}
							{case 0}
								<span class="status-icon bg-secondary"></span> <small>待提货</small>
							{/case}
						{/switch}
					</td>
					<td class="text-right">
						{eq name="item.status" value="0"}
							<button class="btn btn-secondary btn-sm btn-pickup">提货</button>
						{else /}
							{switch $item.reward_type}
								{case 1}
									<a class="btn btn-secondary btn-sm" href="/machine.html">查看</a>
								{/case}
								{case 8}
									<a class="btn btn-secondary btn-sm" href="/wallet/record.html">查看</a>
								{/case}
								{default /}
									<button class="btn btn-secondary btn-sm btn-look">查看</button>
							{/switch}
						{/eq}
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
<div class="card card-result">
	<div class="card-header">
		<div class="card-title f1">中奖名单</div>
		<div class="card-options">
			<a href="#" class="card-options-collapse mr-1" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
		</div>
	</div>
	<div class="card-body o-hidden pt-0 pr-3 pb-0 pl-3" style="height: 9.7rem;">
		<ul class="list-unstyled list-separated namelist">
		</ul>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<div class="card-title f1">活动规则</div>
	</div>
	<div class="card-body pt-3 pr-3 pb-3 pl-0">
		<ol class="pl-6">
			{volist name="Think.config.hello.event.scratch.rule" id="text"}
			<li>{$text}</li>
			{/volist}
		</ol>
		<!-- 1. -->
	</div>
</div>
<div class="modal modal-pickup" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" style="margin-top: -100px;">
			<div class="modal-header">
				<h5 class="modal-title">申请提货</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="您的姓名" />
                </div>
				<div class="form-group">
                    <input type="tel" class="form-control" name="mobile" placeholder="手机号码" maxlength="11" />
                </div>
                <div class="form-group">
                	<div class="row gutters-xs">
                		<div class="col">
                			<select name="province" class="form-control custom-select">
								<option value="">省份</option>
                            </select>
                		</div>
                		<div class="col">
                			<select name="city" class="form-control custom-select">
								<option value="">城市</option>
                            </select>
                		</div>
                		<div class="col">
                			<select name="county" class="form-control custom-select">
								<option value="">区县</option>
                            </select>
                		</div>
                	</div>
                </div>
                <div class="form-group">
                    <input type="address" class="form-control" name="address" placeholder="详细地址" />
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary btn-pickup-post">提交申请</button>
			</div>
		</div>
	</div>
</div>
<div class="modal modal-look" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" style="margin-top: -100px;">
			<div class="modal-header">
				<h5 class="modal-title">发货信息</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<h5>收货信息：</h5>
				<div class="shouhuo"></div>
				<h5 class="mt-2">发货信息：</h5>
				<div class="fahuo">预计3天内到账</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/static/js/area.js"></script>
<script type="text/javascript" src="/static/js/event_scratch.js"></script>
<script type="text/javascript">
var rewards = JSON.parse('{$rewards|raw}');
</script>
{/block}