{extend name="common/world"}
{block name="title"}幸运转盘{/block}
{block name="style"}
<style>
.turnplate {
	position: relative;
	padding: 1rem;
}
.turnplate-pointer {
	position: absolute;
	left: 50%;top: 50%;
	width: 80px; height: 106px;
	margin: -66.5px 0 0 -40px;
}
</style>
{/block}
{block name="container"}
<div class="wrapper">
	<img src="/static/image/1.png" id="shan-img" style="display:none;" />
	<img src="/static/image/2.png" id="sorry-img" style="display:none;" />
	<div class="turnplate" style="background-image:url(/static/image/turnplate-bg.png);background-size:100% 100%;">
		<canvas id="turnplate-canvas"></canvas>
		<img class="turnplate-pointer" src="/static/image/turnplate-pointer.png" />
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
require(['rotate'], function(){
	// 转盘配置
	var turnplate = {
		restaraunts: [],					// 大转盘奖品名称
		colors: ['#fff4d6', '#ffffff'],		// 大转盘奖品区块对应背景颜色
		outsideRadius: 0,					// 大转盘的半径
		textRadius: 90,						// 大转盘奖品位置距离圆心的距离
		insideRadius: 30,					// 大转盘内圆的半径
		startAngle: 0,						// 开始角度
		bRotate: false						// false:停止;ture:旋转
	};
	// 基础参数
	var size, circle, canvas = document.getElementById('turnplate-canvas'), ctx = canvas.getContext("2d");;
	// 宽高调整
	var resize = function(){
		size = $('.wrapper').width();
		$('.turnplate').css({
			width: size,
			height: size,
		});
		circle = size - 32;
		turnplate.outsideRadius = circle / 2;
		turnplate.textRadius = circle / 2 - 30;
		$('.turnplate canvas').attr('width', circle).attr('height', circle);
		console.log(size);
		draw();
	}
	// 随机数
	function rnd(n, m){
		var random = Math.floor(Math.random()*(m-n+1)+n);
		return random;
	}
	// 字节长度
	var byteLength = function(str) {
        var realLength = 0, len = str.length, charCode = -1;
        for (var i = 0; i < len; i++) {
            charCode = str.charCodeAt(i);
            if (charCode >= 0 && charCode <= 128)
                realLength += 1;
            else
                realLength += 2;
        }
        return realLength;
    };
	// 页面载入
	$(function(){
		// 动态添加大转盘的奖品与奖品区域背景颜色
		turnplate.restaraunts = ["入门级蚁后", "微型蚁后", "谢谢参与", "中型蚁后", "大型蚁后", "谢谢参与", "iphoneX", "500元话费"];
		// 宽高调整
		resize();
		$(window).on('resize', resize);
		// 超时例子
		var rotateTimeOut = function (){
			$('#wheelcanvas').rotate({
				angle:0,
				animateTo:2160,
				duration:8000,
				callback:function (){
					alert('网络超时，请检查您的网络设置！');
				}
			});
		};
		// 旋转转盘 item:奖品位置; txt：提示语;
		var rotateFn = function (item, txt){
			var angles = item * (360 / turnplate.restaraunts.length) - (360 / (turnplate.restaraunts.length*2));
			if(angles < 270){
				angles = 270 - angles;
			}else{
				angles = 360 - angles + 270;
			}
			$('#turnplate-canvas').stopRotate();
			$('#turnplate-canvas').rotate({
				angle:0,
				animateTo:angles+1800,
				duration:8000,
				callback:function (){
					alert(txt);
					turnplate.bRotate = !turnplate.bRotate;
				}
			});
		};
		// 开始抽奖
		$('.turnplate-pointer').click(function(){
			if (turnplate.bRotate) return;
			turnplate.bRotate = !turnplate.bRotate;
			//获取随机数(奖品个数范围内)
			var item = rnd(1, turnplate.restaraunts.length);
			//奖品数量等于10,指针落在对应奖品区域的中心角度[252, 216, 180, 144, 108, 72, 36, 360, 324, 288]
			rotateFn(item, turnplate.restaraunts[item - 1]);
			console.log(item);
		});
	});
	// 绘制转盘
	var draw = function() {
		if (ctx) {
			// 转盘大小
			var innerSize = circle;
			// 根据奖品个数计算圆周角度
			var arc = Math.PI / (turnplate.restaraunts.length / 2);
			// 先清空
			ctx.clearRect(0, 0, circle, circle);
			// strokeStyle 属性设置或返回用于笔触的颜色、渐变或模式
			ctx.strokeStyle = '#ffbe04';
			// font 属性设置或返回画布上文本内容的当前字体属性
			ctx.font = '14px Microsoft YaHei';
			// 循环处理奖品
			for(var i = 0; i < turnplate.restaraunts.length; i++) {
				var angle = turnplate.startAngle + i * arc;
				ctx.fillStyle = turnplate.colors[i % 2];
				ctx.beginPath();
				// arc(x,y,r,起始角,结束角,绘制方向) 方法创建弧/曲线（用于创建圆或部分圆）
				ctx.arc(innerSize / 2, innerSize / 2, turnplate.outsideRadius, angle, angle + arc, false);
				ctx.arc(innerSize / 2, innerSize / 2, turnplate.insideRadius, angle + arc, angle, true);
				ctx.stroke();
				ctx.fill();
				// 锁画布(为了保存之前的画布状态)
				ctx.save();

				// 绘制奖品开始
				ctx.fillStyle = '#e5302f';
				var text = turnplate.restaraunts[i];
				var line_height = 17;
				// translate方法重新映射画布上的 (0,0) 位置
				ctx.translate(innerSize / 2 + Math.cos(angle + arc / 2) * turnplate.textRadius, innerSize / 2 + Math.sin(angle + arc / 2) * turnplate.textRadius);
				// rotate方法旋转当前的绘图
				ctx.rotate(angle + arc / 2 + Math.PI / 2);

				/** 下面代码根据奖品类型、奖品名称长度渲染不同效果，如字体、颜色、图片效果。(具体根据实际情况改变) **/
				// if (byteLength(text) > 8) {
				// 	text = text.substring(0, 6) + "||" + text.substring(6);
				// 	var texts = text.split("||");
				// 	for (var j = 0; j < texts.length; j++) {
				// 		ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
				// 	}
				// } else {
					// 在画布上绘制填色的文本。文本的默认颜色是黑色
					// measureText()方法返回包含一个对象，该对象包含以像素计的指定字体宽度
					ctx.fillText(text, -ctx.measureText(text).width / 2, 0);
				// }

				// 添加对应图标
				if (text.indexOf("等奖") > 0) {
					var img = document.getElementById("shan-img");
					img.onload = function(){
						ctx.drawImage(img, -15, 10);
					};
					ctx.drawImage(img, -15, 10);
				} else if (text.indexOf("谢谢参与") >= 0) {
					var img = document.getElementById("sorry-img");
					img.onload = function(){
						ctx.drawImage(img, -15, 10);
					};
					ctx.drawImage(img, -15, 10);
				}
				// 把当前画布返回（调整）到上一个save()状态之前
				ctx.restore();
				// 绘制奖品结束
			}
		}
	}
});
</script>
{/block}