{extend name="common/world"}
{block name="title"}发放全球交易分红{/block}
{block name="style"}{/block}
{block name="container"}
<div class="alert alert-info">
	<div><strong>操作流程</strong></div>
	<div>1. 选择【具体日期】，将自动找到这天的实收总手续费，优先从上一次未发送完的记录中找，各级别配置也是</div>
	<div>2. 设置【实收手续费】(可选)</div>
	<div>3. 设置每个等级的用户的分红比例(可选)</div>
	<div>4. 点击【计算分红】</div>
	<div>5. 审阅并核对右边每个用户的实际分红和状态</div>
	<div>6. 勾选要发放的用户，点击【立即发放】</div>
	<div>7. 每次只会发放一页的用户数量，已发过的用户不会再次发放（即使勾选了该用户）</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="card">
			<div class="card-body">
				<div class="dimmer">
					<div class="loader"></div>
					<div class="dimmer-content">
						<form method="get">
							<div class="form-group">
			                    <label class="form-label">具体日期</label>
			                    <input type="date" class="form-control" name="date" value="{$Think.get.date}" />
			                </div>
			                <div class="form-group">
			                    <label class="form-label">实收手续费</label>
			                    <input type="text" class="form-control" name="charge" placeholder="昨天交易实际收入多少手续费" value="{$Think.get.charge}" />
			                </div>
			                {volist name="Think.config.hello.level" id="item"}
				                <div class="form-group">
				                    <label class="form-label">{$item.name}发放比例</label>
				                    {if array_key_exists('lv' . $key, $param) }
				                    	<input type="text" class="form-control" name="lv{$key}" placeholder="0或是不填则表示不发" value="{$param['lv' . $key]}" />
				                    {else /}
				                    	<input type="text" class="form-control" name="lv{$key}" placeholder="0或是不填则表示不发" value="{$item.bonus|default=''}" />
				                    {/if}
				                </div>
			                {/volist}
			                <div class="text-right">
			                	<button class="btn btn-success" type="submit">计算分红</button>
			                </div>
		                </form>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="card">
			<div class="card-header">
				<div class="card-title">用户列表</div>
				<div class="card-options">
					<label class="custom-switch">
						{if !empty($Think.get.auto) }
                    		<input type="checkbox" name="auto" class="custom-switch-input" checked="true" />
                    	{else /}
                    		<input type="checkbox" name="auto" class="custom-switch-input" />
                    	{/if}
                    	<span class="custom-switch-indicator"></span>
                    	<span class="custom-switch-description">自动发放</span>
                    </label>
				</div>
			</div>
			<div class="table-responsive">
			    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
			        <thead>
			            <tr>
			            	<th>
								<label class="custom-control custom-checkbox mb-0">
		                            <input type="checkbox" class="custom-control-input choose" />
		                            <span class="custom-control-label"></span>
	                        	</label>
			            	</th>
			                <th>用户账号</th>
			                <th>类型等级</th>
			                <th>是否已发</th>
			                <th>最终发放</th>
			            </tr>
			        </thead>
			        <tbody>
			        	{notempty name="users"}
						{volist name="users" id="user"}
							<tr data-type="{$user.type}" data-username="{$user.username}" data-money="{$userProfit[$user.type]}">
								<td>
									<label class="custom-control custom-checkbox mb-0">
										{eq name="user.status" value="1"}
			                            	<input type="checkbox" class="custom-control-input" disabled="true" />
			                            {else /}
			                            	<input type="checkbox" class="custom-control-input" />
			                            {/eq}
			                            <span class="custom-control-label"></span>
		                        	</label>
								</td>
								<td>{$user.username}</td>
								<td>{$Think.config.hello.level[$user.type]['name']}</td>
								<td>
									{eq name="user.status" value="1"}
										<span class="status-icon bg-green"></span> <span class="text-green">已发</span>
									{else /}
										<span class="status-icon bg-secondary"></span> <span class="text-secondary">待发</span>
									{/eq}
								</td>
								<td>{$userProfit[$user.type]}{$Think.config.hello.unit}</td>
							</tr>
						{/volist}
						{/notempty}
			        </tbody>
			    </table>
			</div>
			<div class="card-footer text-right">
				{notempty name="users"}
				<div class="fenye float-left">
					{$users|raw}
				</div>
				{/notempty}
				<button class="btn btn-primary float-right btn-send" type="button">立即发放</button>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
var auto = '{$Think.get.auto}';
require(['jquery'], function($){
	$(function(){
		// 选择日期
		$('input[name=date]').on('change', function(){
			var date = $(this).val();
			$('.dimmer').addClass('active');
			$.post('/admin/market/charge', {date: date}, function(res){
				console.log(res);
				$('.dimmer').removeClass('active');
				if (res.code == 200) {
					$('input[name=charge]').val(res.data.charge);
				} else {
					alert(res.message);
					$('input[name=charge]').val('');
				}
			});
		});
		// 计算分红
		$('form').on('submit', function(){
			// 日期
			var date = $('input[name=date]').val();
			if (!date) {
				alert('很抱歉、请选择日期！');
				return false;
			}
			// 手续费
			var charge = $('input[name=charge]').val();
			if (!charge) {
				alert('很抱歉、请填写手续费！');
				return false;
			}
			// 发放比例
			var rate = 0;
			for (var i = 0; i < $('input[name^="lv"]').length; i++) {
				var val = $('input[name^="lv"]').eq(i).val();
				val = val ? parseFloat(val) : 0;
				rate += val;
				if (val < 0) {
					$('input[name^="lv"]').eq(i).focus();
					alert('很抱歉、' + $('input[name^="lv"]').eq(i).attr('name') + '比例不能小于0！')
					return false;
				}
				if (val >= 1) {
					$('input[name^="lv"]').eq(i).focus();
					alert('很抱歉、' + $('input[name^="lv"]').eq(i).attr('name') + '比例不能大于1！')
					return false;
				}
				if (rate >= 1) {
					alert('很抱歉、累计比例不能超过1！');
					return false;
				}
			}
			// 没问题
			return true;
		});
		// 单行勾选
		$('table tbody tr').on('click', function(){
			var ckb = $(this).find('td').eq(0).find('input[type=checkbox]');
			if (!ckb.prop('disabled')) {
				var checked = ckb.prop('checked');
				ckb.prop('checked', !checked);
			}
		});
		// 全选反选
		$('.choose').on('change', function(){
			var checked = $(this).prop('checked');
			$('table tbody input[type=checkbox]:enabled').prop('checked', checked);
		});
		// 立即发放
		$('.btn-send').on('click', function(){
			return ready();
		});
		// 准备发放
		var ready = function(){
			// 日期
			var date = $('input[name=date]').val();
			if (!date) {
				alert('很抱歉、请选择日期！');
				return false;
			}
			// 手续费
			var charge = $('input[name=charge]').val();
			if (!charge) {
				alert('很抱歉、请填写手续费！');
				return false;
			}
			// 发放比例
			var rate = 0, rateArray = [];
			for (var i = 0; i < $('input[name^="lv"]').length; i++) {
				var name = $('input[name^="lv"]').eq(i).attr('name');
				var val = $('input[name^="lv"]').eq(i).val();
				val = val ? parseFloat(val) : 0;
				rate += val;
				if (val < 0) {
					$('input[name^="lv"]').eq(i).focus();
					alert('很抱歉、' + $('input[name^="lv"]').eq(i).attr('name') + '比例不能小于0！')
					return false;
				}
				if (val >= 1) {
					$('input[name^="lv"]').eq(i).focus();
					alert('很抱歉、' + $('input[name^="lv"]').eq(i).attr('name') + '比例不能大于1！')
					return false;
				}
				if (rate >= 1) {
					alert('很抱歉、累计比例不能超过1！');
					return false;
				}
				rateArray[name] = val;
			}
			console.log(date, charge, rateArray);
			// 循环用户
			if ($('table tbody tr').length) {
				send(date, charge, rateArray, $('table tbody tr').eq(0));
			}
			return false;
		}
		// 继续下一页
		var again = function(){
			console.log('again');
			a = $('.pagination .page-item.active').next().find('a');
			if (a && a.length) {
				var href = a.attr('href');
				if (href.indexOf('auto') == -1) {
					var s = href.indexOf('&page=');
					var before = href.substring(0, s);
					var after = href.substr(s);
					href = before + '&auto=true' + after;
					a.attr('href', href);
				}
				window.location.href = href;
			} else {
				alert('恭喜您、全部发放完成！');
			}
		}
		// 发送数据
		var send = function(date, charge, rateArray, tr){
			// 这一行勾选了
			if (tr.find('td').eq(0).find('input[type=checkbox]').prop('checked')) {
				// 级别
				var type = tr.data('type');
				// 账号
				var username = tr.data('username');
				// 金额
				var money = tr.data('money');
				// 比率
				rate = rateArray['lv' + type];
				// 发送
				$.post('/admin/market/send', {
					date: date,
					charge: charge,
					type: type,
					rate: rate,
					username: username,
					money: money,
				}, function(res){
					// 成功
					if (res.code == 200) {
						tr.find('td').eq(0).find('input[type=checkbox]').prop('checked', false).prop('disabled', true);
						tr.find('td').eq(3).find('.bg-secondary').removeClass('bg-secondary').addClass('bg-green');
						tr.find('td').eq(3).find('.text-secondary').removeClass('text-secondary').addClass('text-green').text('已发');
					}
					// 继续
					var next = tr.next();
					if (next.length) {
						send(date, charge, rateArray, next);
					} else {
						if ($('input[name=auto]').prop('checked')) {
							again();
						}
					}
				});
			} else {
				// 继续
				var next = tr.next();
				if (next.length) {
					send(date, charge, rateArray, next);
				} else {
					if ($('input[name=auto]').prop('checked')) {
						again();
					}
				}
			}
		}
		// 自动发放
		if (auto) {
			$('.choose').prop('checked', true);
			$('table tbody input[type=checkbox]:enabled').prop('checked', true);
			ready();
		}
	});
});
</script>
{/block}