{extend name="common/world"}
{block name="title"}订单列表{/block}
{block name="style"}{/block}
{block name="container"}
<form method="get" class="">
	<div class="row">
		<div class="col-md-6 col-lg-3 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">用户账号</span>
				</div>
				<input type="text" class="form-control" name="username" value="{$Think.get.username}" />
			</div>
		</div>
	    <div class="col-md-6 col-lg-4 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<select class="custom-select input-group-text" name="numberField">
						{volist name="fields" id="field"}
							{eq name="Think.get.numberField" value="$key"}
								<option selected="true" value="{$key}">{$field}</option>
							{else /}
								<option value="{$key}">{$field}</option>
							{/eq}
						{/volist}
				    </select>
				</div>
				<select class="custom-select input-group-text" name="numberOperator">
					{switch name="Think.get.numberOperator"}
						{case 2}
							<option value="1">大于</option>
							<option value="2" selected="true">等于</option>
							<option value="3">小于</option>
						{/case}
						{case 3}
							<option value="1">大于</option>
							<option value="2">等于</option>
							<option value="3" selected="true">小于</option>
						{/case}
						{default /}
							<option value="1">大于</option>
							<option value="2">等于</option>
							<option value="3">小于</option>
					{/switch}
			    </select>
				<input type="text" class="form-control" aria-label="Text input with dropdown button" name="numberValue" value="{$Think.get.numberValue}" />
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">排列顺序</span>
				</div>
				<select class="custom-select input-group-text" name="sortField">
					{volist name="fields" id="field"}
						{eq name="Think.get.sortField" value="$key"}
							<option selected="true" value="{$key}">按{$field}</option>
						{else /}
							<option value="{$key}">按{$field}</option>
						{/eq}
					{/volist}
			    </select>
			    <select class="custom-select input-group-text" name="sortType">
			    	{eq name="Think.get.sortType" value="asc"}
			    		<option value="desc">降序</option>
			    		<option value="asc" selected="true">升序</option>
			    	{else /}
			    		<option value="desc">降序</option>
			    		<option value="asc">升序</option>
			    	{/eq}
			    </select>
			</div>
		</div>
		<div class="col-lg-1 mb-3">
			<button class="btn btn-primary w-100" type="submit">查询</button>
		</div>
	</div>
</form>
<div class="card">
	<div class="table-responsive">
	    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
	        <thead>
	            <tr>
	                <th>#</th>
	                <th>类型</th>
	                <th>状态</th>
	                <th>发布者</th>
	                <th>接单者</th>
	                <th>数量</th>
	                <th>单价</th>
	                <th>总价</th>
	                <th>服务费</th>
	                <th>时间</th>
	                <th class="text-center">操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        	{volist name="trades" id="trade"}
	            <tr>
	                <td>{$trade.tid}</td>
	                <td>{$trade.type==1?'买入':'卖出'}</td>
	                <td>{$Think.config.hello.trade.status[$trade.status]['name']}</td>
	                <td>{$trade.owner}</td>
	                <td>{$trade.target}</td>
	                <td>{$trade.number|money}</td>
	                <td>{$trade.price|money}</td>
	                <td>{$trade.number*$trade.price|money}</td>
	                <td>{$trade.charge|money}</td>
	                <td>{$trade.update_at}</td>
	                <td class="text-center">
	                    <a href="/admin/account/edit.html?username={$trade.tid}" class="icon"><i class="fe fe-edit"></i></a>
	                    <a href="/admin/account/simulate.html?username={$trade.tid}" target="_blank" class="icon"><i class="fe fe-log-in ml-2"></i></a>
	                </td>
	            </tr>
	            {/volist}
	        </tbody>
	    </table>
	</div>
	<div class="card-footer">{$trades|raw}</div>
</div>
{/block}
{block name="script"} {/block}