{extend name="common/world"}
{block name="title"}卖出订单{/block}
{block name="style"}{/block}
{block name="container"}
<form method="get" class="">
	<div class="row">
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">买方</span>
				</div>
				<input type="text" class="form-control" name="owner" value="{$Think.get.owner}" />
			</div>
		</div>
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">卖方</span>
				</div>
				<input type="text" class="form-control" name="target" value="{$Think.get.target}" />
			</div>
		</div>
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">订单状态</span>
				</div>
				<select class="custom-select" name="status">
					<option value="-1">全部状态</option>
					{volist name="statuses" id="item"}
						{if is_null($Think.get.status)}
							<option value="{$key}">{$item}</option>
						{else /}
							{eq name="Think.get.status" value="$key"}
								<option value="{$key}" selected="true">{$item}</option>
							{else /}
								<option value="{$key}">{$item}</option>
							{/eq}
						{/if}
					{/volist}
				</select>
			</div>
		</div>
	    <div class="col-md-12 col-lg-6 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<select class="custom-select input-group-text" name="numberField">
						{volist name="fields" id="field"}
							{eq name="Think.get.numberField" value="$key"}
								<option selected="true" value="{$key}">{$field}</option>
							{else /}
								<option value="{$key}">{$field}</option>
							{/eq}
						{/volist}
				    </select>
				</div>
				<select class="custom-select input-group-text" name="numberOperator">
					{switch name="Think.get.numberOperator"}
						{case 2}
							<option value="1">大于</option>
							<option value="2" selected="true">等于</option>
							<option value="3">小于</option>
						{/case}
						{case 3}
							<option value="1">大于</option>
							<option value="2">等于</option>
							<option value="3" selected="true">小于</option>
						{/case}
						{default /}
							<option value="1">大于</option>
							<option value="2">等于</option>
							<option value="3">小于</option>
					{/switch}
			    </select>
				<input type="text" class="form-control" aria-label="Text input with dropdown button" name="numberValue" value="{$Think.get.numberValue}" placeholder="时间格式：2018-08-08 12:30:00" />
			</div>
		</div>
		<div class="col-md-12 col-lg-4 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">排列顺序</span>
				</div>
				<select class="custom-select input-group-text" name="sortField">
					{volist name="fields" id="field"}
						{eq name="Think.get.sortField" value="$key"}
							<option selected="true" value="{$key}">按{$field}</option>
						{else /}
							<option value="{$key}">按{$field}</option>
						{/eq}
					{/volist}
			    </select>
			    <select class="custom-select input-group-text" name="sortType">
			    	{eq name="Think.get.sortType" value="asc"}
			    		<option value="desc">降序</option>
			    		<option value="asc" selected="true">升序</option>
			    	{else /}
			    		<option value="desc">降序</option>
			    		<option value="asc">升序</option>
			    	{/eq}
			    </select>
			</div>
		</div>
		<div class="col-lg-2 mb-3">
			<button class="btn btn-primary w-100" type="submit">立即查询</button>
		</div>
	</div>
</form>
<div class="card">
	<div class="table-responsive">
	    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
	        <thead>
	            <tr>
	                <th>#</th>
	                <th>状态</th>
	                <th>买方</th>
	                <th>卖方</th>
	                <th>数量</th>
	                <th>单价</th>
	                <th>总价</th>
	                <th>服务费</th>
	                <th>时间</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        	{volist name="trades" id="trade"}
	            <tr>
	                <td>{$trade.tid}</td>
	                <td>{$Think.config.hello.trade.status[$trade.status]['name']}</td>
	                <td>{$trade.owner}</td>
	                <td>{$trade.target}</td>
	                <td>{$trade.number|money}</td>
	                <td>{$trade.price|money}</td>
	                <td>{$trade.number*$trade.price|money}</td>
	                <td>{$trade.charge|money}</td>
	                <td>{$trade.update_at}</td>
	                <td>
	                	<a href="/admin/market/cancel.html?id={$trade.tid}" class="btn btn-secondary btn-sm" onclick="return confirm('您确定要执行该操作吗？');">强制关闭</a>
	                	<a href="/admin/market/transaction.html?id={$trade.tid}" class="btn btn-secondary btn-sm">查看</a>
	                </td>
	            </tr>
	            {/volist}
	        </tbody>
	    </table>
	</div>
	<div class="card-footer">{$trades|raw}</div>
</div>
{/block}
{block name="script"} {/block}