 {include file="public/header" /}
 {load href="__PLUGINS__iCheck/icheck.min.js"}
{load href="__PLUGINS__iCheck/custom.css"}
<script type="text/javascript">
$(document).ready(function(){
    $(".i-checks").iCheck({
        checkboxClass: "icheckbox_square-green",
        radioClass: "iradio_square-green",
    })
});
</script>
 <body class="gray-bg">
 <div class="wrapper wrapper-content">
    <div class="row">
        <form class="form-horizontal" method="post">
            <div class="col-md-12">
                {include file="public/tophead"}
                {include file="public/top" /}
                <div class="ibox-content">
                {include file="public/topsection"}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input name="img" type="text"  id="image" class="form-control" value="{present name="name"}{$name.img}{/present}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" id="tubiao">上传图片</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">链接：</label>
                        <div class="col-sm-9">
                            <input name="url" type="text" class="form-control" value="{present name="name"}{$name.url}{/present}">
                        </div>
                    </div>
                    
                </div>
            </div> 
        </form>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
function msg(){
    layer.msg("上传成功")
}
</script>
{include file="public/bottom" /}
{:ueditor()}
<SCRIPT Language=VBScript><!--

//--></SCRIPT>