{include file="article/top" /}
{css href="__CSS__channel.css" /}
</head>
<body class="page-channel">
{include file="article/header" /}
<div id="js-main" class="main channel-main">
  <div class="aside">
    <div class="widget-box widget-media-channel-info-box"></div>
    <div class="widget-box widget-hot-media-channel-box"></div>
    <div class="widget-box widget-normal-channel-info-box"></div>
     {include file="article/typeRight"}
  </div>
  <div class="channel-top">
    <div class="float-left channel-news-nav">
      <div class="tab tab-0">全部</div>
    </div>
    <div class="float-right share">我要分享<span class="icon-down iconfont"></span>
      <div class="share-wrapper">
        <div class="share-list"><a href="javascript:;" title="分享到新浪微博" data-share="weibo" share-type="channel" class="icon-weibo iconfont share-icon"></a><a href="javascript:;" title="分享到QQ空间" data-share="qzone" share-type="channel" class="icon-qzone iconfont share-icon"></a><a href="javascript:;" data-share="weixin" share-type="channel" class="icon-weixin iconfont share-icon"></a></div>
      </div>
      <div class="qrcode-wrapper"><span class="iconfont icon-up"></span><span class="iconfont icon-arrow-up"></span></div>
    </div>
  </div>
  <div class="channel-news" id="fx-view">
  </div>
  <script id="fx-list" type="text/x-dot-template">
    {{ for(var i=0,len=it.data.length; i < len; i++) { }}
    {{? it.data[i].mychannel == 1}}
    {{? it.data[i].image}}
    <a class="item doc style-small-image style-content-middle" href="{{= it.data[i].url }}" target="_blank">
      <div class="doc-image-small-wrapper">
        <div class="doc-image-box">
          <img class="doc-image doc-image-small" src="{{= it.data[i].image }}">
        </div>
      </div>
      <div class="doc-content">
        <div class="doc-content-inline">
          <div class="doc-title">{{= it.data[i].title }}</div>
          <div class="doc-info">
            {{? it.data[i].uid }}
            <img class="source-profile" src="{{= it.data[i].user.img }}">
            {{?}}
            {{? it.data[i].source }}
            <span class="source">{{= it.data[i].source}}</span>
            {{?? it.data[i].uid}}
            <span class="source">{{= it.data[i].user.username}}</span>
            {{?}}
            <span class="comment-count">{{= it.data[i].pingNum}}评</span>
            <span class="date">{{= it.data[i].create_time}}</span>
          </div>
        </div>
      </div> 
    </a>
    {{??}}
    <a class="item doc style-small-image style-content-middle" href="{{= it.data[i].url }}" target="_blank">
      <div class="doc-content">
        <div class="doc-content-inline">
          <div class="doc-title">{{= it.data[i].title }}</div>
          <div class="doc-info">
            {{? it.data[i].uid }}
            <img class="source-profile" src="{{= it.data[i].user.img }}">
            {{?}}
            {{? it.data[i].source }}
            <span class="source">{{= it.data[i].source}}</span>
            {{?? it.data[i].uid}}
            <span class="source">{{= it.data[i].user.username}}</span>
            {{?}}
            <span class="comment-count">{{= it.data[i].pingNum}}评</span>
            <span class="date">{{= it.data[i].create_time}}</span>
          </div>
        </div>
      </div> 
    </a>
    {{?}}
    {{?? it.data[i].mychannel == 2}}
    <a class="item doc style-multi-image" href="{{= it.data[i].url }}" target="_blank">
      <div class="doc-title">{{= it.data[i].title }}</div>
      <div class="doc-image-multi-wrapper">
        {{ for(var is=0,lens=4; is < lens; is++) { }}
        <div class="doc-image-box box-{{= is}}"><img class="doc-image image-{{= is}}" src="{:_imgUrl()}{{= it.data[i].pcList[is].img}}?imageView2/1/w/161/h/108"></div>
        {{ } }}
      </div>
      <div class="doc-info">
          {{? it.data[i].uid }}
          <img class="source-profile" src="{{= it.data[i].user.img }}">
          {{?}}
          {{? it.data[i].source }}
          <span class="source">{{= it.data[i].source}}</span>
          {{?? it.data[i].uid}}
          <span class="source">{{= it.data[i].user.username}}</span>
          {{?}}
          <span class="comment-count">{{= it.data[i].pingNum}}评</span>
          <span class="date">{{= it.data[i].create_time}}</span>
      </div>
    </a>
    {{?? it.data[i].mychannel == 3}}
    <a class="item doc style-small-image style-content-middle" href="{{= it.data[i].url }}" target="_blank">
      <div class="doc-image-small-wrapper">
        <div class="doc-image-box">
          <img class="doc-image doc-image-small" src="{{= it.data[i].image }}">
            <div class="video-time">{{? it.data[i].videodate}}{{=it.data[i].videodate}}{{??}}视频{{?}}</div>
        </div>
      </div>
      <div class="doc-content">
        <div class="doc-content-inline">
          <div class="doc-title">{{= it.data[i].title }}</div>
          <div class="doc-info">
            {{? it.data[i].uid }}
            <img class="source-profile" src="{{= it.data[i].user.img }}">
            {{?}}
            {{? it.data[i].source }}
            <span class="source">{{= it.data[i].source}}</span>
            {{?? it.data[i].uid}}
            <span class="source">{{= it.data[i].user.username}}</span>
            {{?}}
            <span class="comment-count">{{= it.data[i].pingNum}}评</span>
            <span class="date">{{= it.data[i].create_time}}</span>
          </div>
        </div>
      </div>
    </a>
    {{?}}
    {{ } }}
  </script>
</div>
<div class="mask"></div>
{include file="article/footer" /}
<script type="text/javascript">
_list('{:url('api/article/pcLists',['typeid'=>$id,'pages'=>1])}')
</script>
{include file="article/page_footer" /}
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>