<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8" />
        <title>vaeThink</title>
        <meta name="renderer" content="webkit" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="__ADMIN__/lib/layui/css/layui.css" media="all" /></head>
    <body class="vae-body">
        <form class="layui-form vae-content">

            <div class="layui-form-item">
                <label class="layui-form-label jiaxing">会员昵称</label>
                <div class="layui-form-mid">{$detail.nickname}</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">会员账号</label>
                <div class="layui-form-mid">{$detail.account}</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">真实姓名</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="realname" lay-verify="" autocomplete="off" placeholder="请输入真实姓名" class="layui-input" value="{$detail.realname}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">身份证号码</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="idnum" lay-verify="" autocomplete="off" placeholder="请输入身份证号码" class="layui-input" value="{$detail.idnum}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否实名</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_idverifly" value="1" title="已实名" {eq name="$detail.is_idverifly" value="1"}checked{/eq}>
                    <input type="radio" name="is_idverifly" value="0" title="未实名" {eq name="$detail.is_idverifly" value="0"}checked{/eq}>
                    <input type="radio" name="is_idverifly" value="2" title="审核中" {eq name="$detail.is_idverifly" value="2"}checked{/eq}>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">鱼饵</label>
                <div class="layui-input-inline">
                    <input type="text" name="" lay-verify="" autocomplete="off" placeholder="" class="layui-input" value="{$detail.integral}" readonly="readonly">

                </div>
                <div class="layui-form-mid"><a onclick="layer.open({type: 2,title: '会员充值',area: ['893px', '600px'],shadeClose: true, content: '/admin/member/recharge/mid/{$detail.mid}',maxmin: true});" style="color:#01AAED">充值</a></div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">BST虚拟币</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="bst_currency" lay-verify="required" autocomplete="off" placeholder="请输入BST虚拟币" class="layui-input" value="{$detail.bst_currency}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">OCN幣</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="ocn_currency" lay-verify="required" autocomplete="off" placeholder="请输入OCN幣" class="layui-input" value="{$detail.ocn_currency}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">推荐收益</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="recommend_income" lay-verify="required" autocomplete="off" placeholder="请输入推荐收益" class="layui-input" value="{$detail.recommend_income}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">团队收益</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="team_income" lay-verify="required" autocomplete="off" placeholder="请输入团队收益" class="layui-input" value="{$detail.team_income}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">收益转存</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="income_transferred" lay-verify="required" autocomplete="off" placeholder="请输入收益转存" class="layui-input" value="{$detail.income_transferred}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">推荐人ID</label>
                <div class="layui-input-block" style="max-width: 500px;">
                    <input type="text" name="parent_mid" lay-verify="required" autocomplete="off" placeholder="请输入推荐人ID" class="layui-input" value="{$detail.parent_mid}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">等级</label>
                <div class="layui-input-inline">
                    <select name="level">
                        <option value="0">默认等级</option>
                        {volist name='levellist' id='vo'}
                        <option value="{$vo.level}" {eq name="$detail.level" value="$vo.level"}selected="selected"{/eq} >{$vo.levelname}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">注册时间</label>
                <div class="layui-form-mid">{$detail.add_time}</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">注册IP</label>
                <div class="layui-form-mid">{$detail.add_ip}</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">最后登录时间</label>
                <div class="layui-form-mid">{$detail.last_time|date="Y-m-d H:i:s",###}</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">最后登录IP</label>
                <div class="layui-form-mid">{$detail.last_ip}</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">推广员</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_promoter" value="1" title="是" {eq name="$detail.is_promoter" value="1"}checked{/eq}>
                    <input type="radio" name="is_promoter" value="0" title="不是" {eq name="$detail.is_promoter" value="0"}checked{/eq}>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否激活</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_activation" value="1" title="是" {eq name="$detail.is_activation" value="1"}checked{/eq}>
                    <input type="radio" name="is_activation" value="0" title="否" {eq name="$detail.is_activation" value="0"}checked{/eq}>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="正常" {eq name="$detail.status" value="1"}checked{/eq}>
                    <input type="radio" name="status" value="0" title="禁用" {eq name="$detail.status" value="0"}checked{/eq}>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="mid" value="{$detail.mid}" />
                    <button class="layui-btn" lay-submit="" lay-filter="vaeform">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <a href="javascript:history.back(-1)" class="layui-btn layui-btn-primary">返回</a>
                </div>
            </div>
        </form>
        <script src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
        <script>layui.config({
                base: '/themes/admin_themes/module/'
            }).use(['upload', 'form', 'vaeyo'],
            function() {
                var form = layui.form,
                layer = layui.layer,
                $ = layui.$,
                upload = layui.upload,
                vae = layui.vaeyo;

                //监听提交
                form.on('submit(vaeform)',
                function(data) {
                    $.ajax({
                        url: "/admin/member/editSubmit",
                        type: 'post',
                        data: data.field,
                        success: function(e) {
                            if (e.code == 1) {
                                layer.confirm('保存成功,返回列表吗?', {
                                    icon: 3,
                                    title: '提示'
                                },
                                function(index) {
                                    vae.backThisTab();
                                    layer.close(index);
                                });
                            } else {
                                layer.msg(e.msg);
                            }
                        }
                    }) 
                    return false;
                });

            });</script>
    </body>

</html>