.invite2get { padding: 0px 0px 10px; }

.invite2get header { padding: 20px 0px 28px; text-align: center; background-color: #ff6600; background-position: initial initial; background-repeat: initial initial; }

.invite2get header .user { color: rgb(255, 255, 255); font-size: 15px; }

.invite2get header .avatar { display: block; width: 93px; height: 93px; margin: 0px auto; border-top-left-radius: 91px; border-top-right-radius: 91px; border-bottom-right-radius: 91px; border-bottom-left-radius: 91px; background-color: rgb(255, 255, 255); -webkit-animation: 2s scale-pic; background-position: initial initial; background-repeat: initial initial; }

@-webkit-keyframes scale-pic { 
  0% { opacity: 0.1; }
  100% { opacity: 1; }
}

.invite2get header .avatar img { width: 85px; height: 85px; margin: 4px; border-top-left-radius: 85px; border-top-right-radius: 85px; border-bottom-right-radius: 85px; border-bottom-left-radius: 85px; }

.invite2get header h1 { background-image: url(../images/invite-h1.png); display: block; width: 227px; height: 30px; text-indent: -9999px; margin: 10px auto 8px; background-size: 227px 30px; -webkit-animation: 0.5s translate-txt; background-position: 0px 0px; background-repeat: no-repeat no-repeat; }

@-webkit-keyframes translate-txt { 
  0% { -webkit-transform: translate(100px, 0px); opacity: 0; }
  100% { -webkit-transform: translate(0px, 0px); opacity: 1; }
}

.invite2get header h2, .invite2get header h3 { font-size: 18px; line-height: 23px; color: rgb(255, 255, 38); }

.invite2get header h3 { margin-top: 3px; display: block; color: rgb(255, 255, 255); font-size: 14px; line-height: 20px; }

.invite2get header h3 i { color: rgb(255, 255, 38); }

.invite2get section { padding: 1px 0px 10px; }

.invite2get section .invite-tl { border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; background-color: rgb(255, 255, 255); margin: 15px 15px 10px; overflow: hidden; border: 1px solid #ff6600; background-position: initial initial; background-repeat: initial initial; }

.invite2get section .invite-tl li { float: left; width: 50%; height: 38px; line-height: 38px; text-align: center; display: inline-block; }

.invite2get section .invite-tl li a { width: 100%; display: block; color: #ff6600; font-size: 15px; }

.invite2get section .invite-tl li a.current, .invite2get section .invite-tl li a:active { background-color: #ff6600; color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }

.invite2get section .scrolllist { padding: 0px 15px; }

.invite2get section .scrolllist .bd { overflow: hidden; font-size: 0.75rem; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }

.invite2get section .scrolllist .bd ul { padding: 0px 10px; color: rgb(128, 128, 128); }

.invite2get section .scrolllist .bd li { width: 100%; height: 54px; line-height: 54px; padding: 0px 10px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(208, 208, 208); font-size: 14px; color: rgb(136, 136, 136); overflow: hidden; box-sizing: border-box; }

.invite2get section .scrolllist .bd li:last-child { border: none; }

.invite2get section .scrolllist .bd li img { display: inline-block; width: 30px; height: 30px; margin: 0px 10px -8px 0px; border-top-left-radius: 27px; border-top-right-radius: 27px; border-bottom-right-radius: 27px; border-bottom-left-radius: 27px; }

.invite2get section .scrolllist .bd li strong { margin: 0px 5px 0px 0px; font-weight: normal; color: rgb(25, 119, 216); }

.invite2get section .scrolllist .bd li span.h-if { color: rgb(51, 51, 51); font-size: 14px; display: inline-block; }

.invite2get section .scrolllist .bd li span.h-if b { height: 21px; line-height: 21px; display: block; font-size: 14px; overflow: hidden; font-weight: normal; }

.invite2get section .scrolllist .niu-dir ul { padding: 0px; }

.invite2get section .scrolllist .niu-dir li { height: 64px; padding-top: 12px; position: relative; padding-left: 56px; padding-right: 65px; }

.invite2get section .scrolllist .niu-dir li img { width: 40px; height: 40px; position: absolute; left: 10px; }

.invite2get section .scrolllist .niu-dir li span.h-if i.days { color: rgb(128, 128, 128); display: block; }

.invite2get section .scrolllist .niu-dir li em.h-money { position: absolute; right: 10px; top: 50%; margin-top: -10px; color: #ff6600; font-size: 14px; }

.invite3button { margin: 5px 0px 3px; padding-top: 18px; }

.invite3button a, .invite40button a { display: block; width: 200px; height: 45px; margin: 0px auto; line-height: 45px; font-size: 18px; border-top-left-radius: 45px; border-top-right-radius: 45px; border-bottom-right-radius: 45px; border-bottom-left-radius: 45px; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }

.invite3button a { -webkit-animation: 1s infinite bg01-infinite; }

@-webkit-keyframes bg01-infinite { 
  0% { background-color: rgb(255, 255, 255); }
  100% { background-color: rgb(255, 251, 179); color: rgb(213, 31, 34); }
}

.invite2bottombar { position: fixed; text-align: center; bottom: -1px; left: 0px; right: 0px; background-color: rgb(39, 39, 39); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(0, 0, 0); display: -webkit-box; -webkit-box-orient: horizontal; background-position: initial initial; background-repeat: initial initial; }

.invite2bottombar a { color: rgb(255, 255, 255); height: 49px; line-height: 49px; -webkit-box-flex: 1; display: block; }

.invite2bottombar a:active { box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 100px 1px inset; }

.invite2bottombar a:nth-child(2) { border-left-width: 1px; border-left-style: solid; border-left-color: rgb(0, 0, 0); }

.invite2bottombar a i { display: inline-block; width: 25px; height: 23px; margin: 0px 4px -6px 0px; }

.invite2bottombar a.share i { width: 25px; height: 25px; display: inline-block; background-image: url(../images/bottom.png); background-size: 25px; position: relative; top: 1px; background-repeat: no-repeat no-repeat; }

.invite2bottombar a.down img { width: 25px; height: 25px; border-top-left-radius: 25px; border-top-right-radius: 25px; border-bottom-right-radius: 25px; border-bottom-left-radius: 25px; margin-right: 5px; position: relative; top: 5px; }

.wxcustomer, .wxcustomer section { padding-bottom: 0px; }

.wxcustomer header { padding-top: 11px; padding-bottom: 12px; font-size: 15px; }

.wxcustomer header .avatar { width: 82px; height: 82px; margin-bottom: 3px; }

.wxcustomer header .avatar img { width: 75px; height: 75px; }

.pt10 { padding-top: 6px; }

.pt10 a { height: 38px; line-height: 38px; font-size: 15px; color: rgb(64, 64, 64); }

.gray-bg { background-color: rgb(238, 238, 238); padding: 10px; background-position: initial initial; background-repeat: initial initial; }

.kf-content { margin: 10px; background-color: rgb(255, 255, 255); padding-top: 5px; background-position: initial initial; background-repeat: initial initial; }

.kf-content .kf-dot, .kf-content .kf-notice { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); padding: 8px 2px; margin: 0px 10px; }

.kf-content .kf-dot h2 { font-size: 14px; color: rgb(227, 57, 60); display: block; font-weight: bold; }

.kf-content .kf-dot p, .kf-content .kf-notice strong, .kf-content .kf-notice h2 { font-size: 13px; color: rgb(80, 80, 80); display: block; line-height: 18px; padding-top: 5px; word-break: break-all; word-wrap: break-word; }

.kf-content .kf-notice h2 { font-weight: bold; }

.kf-content .kf-notice strong { font-weight: bold; color: rgb(227, 57, 60); padding-top: 8px; padding-bottom: 8px; }

.request-dir h1 { width: 100%; height: 54px; line-height: 54px; font-size: 20px; background-color: rgb(251, 84, 101); color: rgb(255, 255, 255); font-weight: bold; text-align: center; position: relative; }

.request-dir h1 b { color: rgb(255, 211, 59); padding: 0px 2px; }

.request-dir h1 i.f-money { width: 35px; height: 32px; background-image: url(../images/f-money.png); background-size: 35px 32px; position: relative; top: 8px; display: inline-block; background-repeat: no-repeat no-repeat; }

.request-notice { background-color: rgb(250, 250, 250); padding: 8px 10px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(223, 222, 222); background-position: initial initial; background-repeat: initial initial; }

.request-notice p { font-size: 14px; color: rgb(64, 64, 64); line-height: 20px; word-break: break-all; word-wrap: break-word; }

.request-notice p b { color: rgb(251, 84, 101); }

.request-content { background-color: rgb(238, 238, 238); padding-top: 8px; background-position: initial initial; background-repeat: initial initial; }

.request-content li { float: left; width: 100%; display: inline-block; background-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(220, 219, 220); margin-bottom: 8px; position: relative; padding: 10px; box-sizing: border-box; background-position: initial initial; background-repeat: initial initial; }

.request-content li img.reg-avatar { float: left; width: 60px; height: 60px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; margin-right: 10px; }

.request-content li .reg-infos h2 { width: 100%; font-size: 15px; color: rgb(80, 80, 80); line-height: 19px; word-break: break-all; word-wrap: break-word; }

.request-content li .reg-infos span.reg-other { width: 100%; height: 28px; display: block; }

.request-content li .reg-infos span.reg-other em { float: left; font-size: 13px; color: rgb(170, 170, 170); line-height: 28px; }

.request-content li .reg-infos span.reg-other a.send-btn { float: right; width: 75px; height: 28px; line-height: 28px; font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(251, 84, 101); border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; display: inline-block; text-align: center; background-position: initial initial; background-repeat: initial initial; }

.request-content li .reg-infos span.reg-other a.send-btn:active { background-color: rgb(230, 65, 82); background-position: initial initial; background-repeat: initial initial; }

.request-content li .short-dir span.reg-other { position: absolute; bottom: -2px; right: 0px; left: 0px; }

.request-content li .short-dir span.reg-other em { line-height: 18px; padding-top: 9px; padding-left: 78px; }

.request-content li .short-dir span.reg-other a.send-btn { margin-right: 10px; }

.request-content li .short-dir h2 { max-height: 38px; overflow: hidden; }

.request-content li .short-dir { width: 100%; height: 60px; position: absolute; padding-left: 78px; top: 10px; left: 0px; box-sizing: border-box; }

.pro-img ul { display: -webkit-box; -webkit-box-orient: horizontal; margin-left: -10px; }

.pro-img li { -webkit-box-flex: 1; display: block; padding: 0px 0px 0px 10px; border: none; margin-top: 10px; margin-bottom: 5px; box-sizing: border-box; }

.pro-img li img { width: 100%; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; }

.reg-box { padding: 8px 15px 5px; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }

.reg-box p { font-size: 14px; color: rgb(51, 51, 51); line-height: 25px; }

.reg-box p i.i-dot { width: 7px; height: 7px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; border: 1px solid rgb(98, 98, 98); display: inline-block; margin-right: 5px; }

.reg-box a.send-reg { background-color: rgb(72, 159, 247); height: 47px; line-height: 47px; text-align: center; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; color: rgb(255, 255, 255); margin: 13px 20px; display: block; background-position: initial initial; background-repeat: initial initial; }

.reg-box a.send-reg:active { background-color: rgb(50, 139, 228); background-position: initial initial; background-repeat: initial initial; }

.reg-box a.send-reg i.send-icon { width: 22px; height: 19px; background-image: url(../images/t-share.png); background-size: 22px 19px; position: relative; top: 2px; display: inline-block; margin-right: 4px; background-repeat: no-repeat no-repeat; }

.preview h2 { height: 40px; line-height: 40px; background-color: rgb(252, 252, 252); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(230, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(230, 229, 229); font-size: 17px; color: rgb(80, 80, 80); text-align: center; margin-bottom: 14px; background-position: initial initial; background-repeat: initial initial; }

.preview h2 { margin-bottom: 0px; }

.textwork { padding: 10px 10px 55px; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }

.textwork p { font-size: 14px; line-height: 22px; color: rgb(64, 64, 64); padding-bottom: 5px; }

.textwork p img, .textwork img { max-width: 100%; }

.put{
	position: absolute;
	background: #000;
	top: 0px;
	opacity: 0.5;
	width: 100%;
	z-index:998;
}
.hongbao{
	margin-top:40px;
	text-align:center;
	width:100%;
	height:400px;
	position: absolute;
	z-index:999;
	top:0px;
}
.hongbao_content{
	width: 280px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  position: relative;
  text-align: center;
}
.hongbao_content .bg{
	width:280px;
	height:400px;
}
.hongbao_content .headimg{
	top: 0;
	position:absolute;
	z-index:1;
	width:100%;
	margin-top:40px;
	text-align:center;
}
.hongbao_content .headimg img{
	width:85px;
	height:85px;
	margin: 4px; border-top-left-radius: 85px; border-top-right-radius: 85px; border-bottom-right-radius: 85px; border-bottom-left-radius: 85px; 
}
.hongbao_content .text1,.hongbao_content .text2,.hongbao_content .text3{
	width:100%;
	font-size:18px;
	color:#fff;
	position:absolute;
	top:0;
	z-index:1;
	margin-top:130px;
	text-align:center;
}
.hongbao_content .text2{
	top:0;
	margin-top:160px;
	font-size:14px;
}
.hongbao_content .text3{
	top:0;
	margin-top:190px;
}
.hongbao_content .hbbtn{	
	width:100%;
	text-align:center;
	position:absolute;
	margin-top:240px;
	top:0;
	z-index:1;
}
.hongbao_content .hbbtn img{
	cursor:pointer;
	width:100px;
	height:100px;
}
.hongbao_content .close{
		width:100%;
		font-size:18px;
		color:#fff;
		position:absolute;
		top:0;
		z-index:1;
		margin-top:130px;
		text-align:center;
		margin-top: 10px;
		width: 15px;
		height: 15px;
		left: 10px;
		cursor: pointer;
	}
.hongbao,.hongbao_tishi{
		margin-top:40px;
		text-align:center;
		width:100%;
		height:400px;
		position: absolute;
		z-index:999;
		top:0px;
	}
	.hongbao_tishi{
		display:none;
		height:auto;
		margin-top:200px;
	}
	.hongbao_tishi .text{
		background:#fff;
		margin-right: 10%;
		margin-left: 10%;
		padding:15px;
		border-radius: 5px;
		font-size: 16px;
	}
	.hongbao_tishi a.down,a.channel{
		display: inline-block;
		width: 45%;
		margin-top: 15px;
		background: #3dca3d;
		border-radius: 4px;
		box-shadow: inset 0 0 2px 1px #0cc40c;
		color: #fff;
		height: 35px;
		line-height: 35px;
	}
	.hongbao_tishi a.channel{
		background:#ccc;
		box-shadow: inset 0 0 2px 1px #ccc;
	}