{include file="public/header" /}
{load href="__PLUGINS__bootstrap/bootstrap-table.min.css"}
{load href="__PLUGINS__bootstrap/bootstrap-table.min.js"}
<style type="text/css">
#des,#des input{ width: 40px;text-align:center;}
#id{ width: 78px; }
.bs-checkbox{ width: 36px; height: 40px }
.fixed-table-toolbar .columns,.fixed-table-toolbar .search{margin-left:0px; margin-top: 0px }
#title span{ float: right; }
</style>
 <body class="gray-bg">
 <div class="wrapper wrapper-content {:config('adminClass.main')}">
    <div class="ibox float-e-margins">
        {include file="public/tophead"}
        {include file="public/top" /}
        <div class="ibox-content">
        {include file="public/topsection"}
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="fixed-table-toolbar">
                        <form  method="get" action="">
                            <div class="pull-left search">
                                <div class="columns columns-right btn-group pull-left">
                                    <select class="form-control" name="type">
                                        <option value="id">会员uid</option>
                                        <option value="user" {php}if(input('?param.type')){if(input('param.type')=='user'){echo "selected";} }{/php}>账户</option>
                                        <option value="nickname" {php}if(input('?param.type')){if(input('param.type')=='nickname'){echo "selected";} }{/php}>昵称</option>
                                        <option value="mobile" {php}if(input('?param.type')){if(input('param.type')=='mobile'){echo "selected";} }{/php}>手机</option>
                                        <option value="email" {php}if(input('?param.type')){if(input('param.type')=='email'){echo "selected";} }{/php}>邮箱</option>
                                    </select>
                                </div>
                                {php}
if(input('?param.name')){
{/php} 
<div class="pull-right search">
    <a class="btn btn-w-m btn-link" href="{:url('member/index')}">返回用户管理</a>
</div>{php}
}
{/php}
                                <div class="pull-right search">
                                    <button style="border-radius:0px; border:1px solid #e5e6e7; border-left:0px" class="btn btn-default btn-outline" type="submit">搜索</button>
                                </div>
                                <div class="pull-right search">
                                    <input class="form-control input-outline" type="text"
{php}
if(input('?param.name')){
            if(input('param.name')){
               echo "value='".input('name')."'";
            } 

        }
{/php}
                                     name="name" placeholder="搜索会员">
                                </div>
                                

                            </div>
                        </form>
                    </div>
                    <div class="example">
                        <form class="form-horizontal" method="post">
                        <table data-toggle="table">
                            <thead>
                                <tr>
                                    <th data-align="center">uid</th>
                               
                                    <th>昵称</th>
                                    <th>手机</th>
                                    
                                    <th data-align="center">零钱/累计</th>
                                    <th data-align="center">金币/累计</th>
                                    <th data-align="center">徒弟量</th>
									<th data-align="center">徒孙量</th>
                                    <th>最后登录时间</th>
                                    <th>最后登录IP</th>
                                    <th data-align="center">状态</th>
                                    <th>管理</th>
                                </tr>
                            </thead> 
                            <tbody id="form">
                                {php}$hide=array('0'=>'<font color="#f00">禁止</font>','1'=>'<font color="#1ab394">正常</font>','2'=>'审核','3'=>'<font color="#f00">拒绝</font>');{/php}
                                {volist name="data" id="v"}
                                <tr id="id{$v.id}" class="class">
                                    <td>{$v.id}</td>
                                    <td>{$v.nickname}</td>
                                    <td>{$v.mobile}</td>
                                    <?php $y=db('yaoqing')->where('uid',$v['id'])->find();?>
                                    <td>{:_money($y['money'])} / {:_money($y['money_num'])}</td>
                                    <td>{$y.jinbi} / {$y.jinbi_num}</td>
                                    <td>{$y.tudi_num}</td>
									<td>{$y.tuxun_num}</td>
                                    <td>{$v.update_time|date='Y-m-d H:i:s',###}</td>
                                    <td>{$v.update_ip}</td>
                                    <td id="hide">{$hide[$v['hide']]}</td>
                                    <td>
                                        <div class="btn-group">
                                            <div data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span>
                                            </div>
                                            <ul class="dropdown-menu">

                                                <li><a onClick="add('{:url('add',['id'=>$v['id'],'url'=>-1])}')">修改</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a onClick="del({$v.id})">删除</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>  
            </div>
            <hr>
            <div class="row row-lg">
                <div class="col-sm-12 pages">{$page}</div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
function del(id){
    swal_del(id,"{:url('del')}")
}
 
</script>
 <SCRIPT Language=VBScript><!--

//--></SCRIPT>