<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery头像裁剪插件cropbox</title>
</head>
<body>
{include file="member/left" /}

<input type="file" name="image" id='image' /> <br> 
<button type="botton" class="btn btn-primary btn-lg ladda-button" onclick="asdasd()">上传</button>

{include file="member/footer" /}
<script type="text/javascript">
function asdasd(){
	_ajax('{:url('imgs')}','post',{image:$('#image').val()},function(ret){
		layer.msg(ret)
	})
	return false;

}
</script>