{extend name="common/world"}
{block name="title"}内部转账{/block}
{block name="style"}
<style>
.btn-toggle-form {
     position: absolute;
    right: .3rem;
    top: 0rem;
    z-index: 1;
}
</style>
{/block}
{block name="container"}
<div class="card card-form card-collapsed">
    <div class="card-header" data-toggle="card-collapse">
        <div class="card-title f1">提交转账</div>
        <div class="card-options">
            <a href="#" class="card-options-collapse mr-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="form-label">对方账号</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="对方账号" name="target" maxlength="11" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="form-label">货币数量</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="0" name="number" />
                        <span class="input-group-append" id="basic-addon2">
                            <span class="input-group-text">{$Think.config.hello.unit}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="form-label">安全密码</label>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="******" name="safeword" />
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="small text-muted mt-2">
                手续费：<span class="charge">0</span>
            </div>
            <div class="ml-auto text-right">
                <button type="submit" class="btn btn-primary btn-submit btn-transfer">立即转账</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="card-title f1">历史记录</div>
        <div class="card-options">
            <div class="selectgroup selectgroup-pills list-switch">
                <label class="selectgroup-item mb-0">
                    <input type="radio" name="option" value="in" class="selectgroup-input" checked="true" />
                    <span class="selectgroup-button selectgroup-button-sm">转入</span>
                </label>
                <label class="selectgroup-item mb-0">
                    <input type="radio" name="option" value="out" class="selectgroup-input" />
                    <span class="selectgroup-button selectgroup-button-sm">转出</span>
                </label>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-striped table-vcenter">
            <thead>
                <tr>
                    <th>用户</th>
                    <th width="20%" class="text-right">数量</th>
                    <th width="20%" class="text-right pr-4">服务费</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div hidden class="card-footer card-more">
        <div class="text-muted text-center">点击加载更多</div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
var charge = JSON.parse('{$charge|raw}');
</script>
<script type="text/javascript" src="/static/js/transfer.js?1"></script>
{/block}