
<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label>关键词名称</label>
              <span>（关键词全称）</span>
              <input class="form-control" name="keywords"  value="{$info.keywords}"  type="text">
            </div>
          </div>
 
          <div class="col-md-6">
            <div class="form-group">
              <label>第一页价格</label>
              <input class="form-control" name="page_one"  value="{$info.page_one}"  placeholder="请输入第一页价格" type="number">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>第二页价格</label>
              <input class="form-control" name="page_tow"  value="{$info.page_tow}"  placeholder="请输入第二页价格" type="number">
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label>第一页成本价</label>
              <input class="form-control" name="page_one_cb"  value="{$info.page_one_cb}"  placeholder="请输入第一页成本价" type="number">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>第二页成本价</label>
              <input class="form-control" name="page_tow_cb"  value="{$info.page_tow_cb}"  placeholder="请输入第二页成本" type="number">
            </div>
          </div>

 
          <div class="col-md-6">
            <div class="form-group">
              <label>选择搜索引擎</label>
              <div>
              <label class="radio-inline">
                <input type="radio" name="search_engine" {eq name="$info.search_engine" value="baidupc" } checked="checked" {/eq} id="inlineRadio1" value="baidupc"> 百度PC
              </label>
              <label class="radio-inline">
                <input type="radio" name="search_engine" {eq name="$info.search_engine" value="baidumobile" } checked="checked" {/eq} id="inlineRadio2" value="baidumobile"> 百度移动端
              </label>
              <label class="radio-inline">
                <input type="radio" name="search_engine" {eq name="$info.search_engine" value="360pc" } checked="checked" {/eq} id="inlineRadio3" value="360pc"> 360PC
              </label>

                <label class="radio-inline">
                  <input type="radio" name="search_engine" {eq name="$info.search_engine" value="360mobile" } checked="checked" {/eq} id="inlineRadio4" value="360mobile"> 360移动端
                </label>

                <label class="radio-inline">
                  <input type="radio" name="search_engine" {eq name="$info.search_engine" value="sogoupc" } checked="checked" {/eq} id="inlineRadio5" value="sogoupc"> 搜狗PC
                </label>

                <label class="radio-inline">
                  <input type="radio" name="search_engine" {eq name="$info.search_engine" value="sogoumobile" } checked="checked" {/eq} id="inlineRadio6" value="sogoumobile"> 搜狗移动端
                </label>

                <label class="radio-inline">
                  <input type="radio" name="search_engine" {eq name="$info.search_engine" value="smmobile" } checked="checked" {/eq} id="inlineRadio7" value="smmobile"> 神马搜索
                </label>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>监控状态</label>
              <div>

                <label class="radio-inline">
                  <input type="radio" name="jk_status" {eq name="$info.jk_status" value="1" } checked="checked" {/eq}  value="1"> 启用
                </label>

                <label class="radio-inline">
                  <input type="radio" name="jk_status" {eq name="$info.jk_status" value="0" } checked="checked" {/eq}  value="0"> 不启用
                </label>
             <span style="color: red;">注意:只有请用才会监控关键词</span>
              </div>
            </div>
          </div>

          <input type="hidden" name="id" value="{$info['id']|tp_encrypt}">
            
        </div>
      </div>
      <div class="box-footer">
        
        {include file="layout/edit_btn_group"/}
      </div>
    </div>
</form>


