<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{:config('seo_title');} {notempty name="ob_title"} | {$ob_title}{/notempty}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="__STATIC__/module/admin/ext/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/module/admin/ext/adminlte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/ext/adminlte/dist/css/skins/_all-skins.css">
    <link rel="stylesheet" href="__STATIC__/module/common/toastr/toastr.min.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/ext/btnloading/dist/ladda-themeless.min.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/css/onebase.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/module/admin/ext/remodal/remodal.css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/module/admin/ext/remodal/remodal-default-theme.css" media="all">
    <link rel="stylesheet" href="__STATIC__/module/admin/ext/adminlte/plugins/iCheck/all.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/ext/adminlte/dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/ext/adminlte/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/css/base.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/css/reg.css">
    <link rel="stylesheet" href="__STATIC__/module/admin/css/iconfont.css">
    <script>
        var seo_tiel="{:config('seo_title');}";
    </script>

    <script type="text/javascript" src="__STATIC__/module/common/jquery/jquery-2.2.3.min.js"></script>
    <script src="__STATIC__/module/admin/ext/jquerypjax/jquery.pjax.js"></script>
    <script src="__STATIC__/module/admin/ext/adminlte/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/module/admin/js/init.js"></script>


    <script src="__STATIC__/module/admin/ext/autocomplete/jquery-ui.min.js"></script>
    <!-- 引入图形列表js文件	-->
<script type="text/javascript" src="__STATIC__/siy/js/echarts.min.js"></script>
<script type="text/javascript" src="__STATIC__/module/admin/ext/laydate/laydate.js"></script>
    <style type="text/css">
    	@media only screen and (max-width:767px ) {
    		.sidebar-btn{
    			white-space: nowrap;
    			overflow: hidden;
    			width: 35%;
    			text-overflow: ellipsis;
    		}
    	}
    </style>
    
</head>